<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.StockPrice.StockPriceLogMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.StockPrice.StockPriceLogVO">
        SELECT * FROM U_SPAL
        <where>
            1 = 1
            <if test="sc.timeStart != null">
                AND StartTime >= #{sc.timeStart}
            </if>
            <if test="sc.timeEnd != null">
                AND StartTime &lt; #{sc.timeEnd}
            </if>
            <if test="sc.triggerTypeList != null">
                AND TriggerType IN
                <foreach collection="sc.triggerTypeList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            </if>
            <if test="sc.triggerNameList != null">
                AND TriggerName IN
                <foreach collection="sc.triggerNameList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            </if>
        </where>
    </select>
</mapper>
