<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.BomDicMapper">
    <select id="selectNameList" resultType="java.lang.String">
        SELECT Value FROM U_BomDic
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.BomHeadDictVO">
        SELECT * FROM U_BomDic
        <where>
            1=1
            <if test="sc.dicKey != null">
                AND U_BomDic.DicKey = #{sc.dicKey}
            </if>
        </where>
    </select>
</mapper>
