<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.BomMainMapper">

    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.BomMainVO">
        SELECT U_BOM.*,
               T_OUSI.UserName
        FROM U_BOM
        LEFT JOIN T_OUSI ON U_BOM.OwnerCode = T_OUSI.UserSign
        <where>
            1=1
            <if test="sc.ownerCode != null">
                AND U_BOM.OwnerCode = #{sc.ownerCode}
            </if>
            <if test="sc.createTimeStart != null">
                AND U_BOM.CreateTime > #{sc.createTimeStart}
            </if>
            <if test="sc.createTimeEnd != null">
                AND U_BOM.CreateTime &lt;= #{sc.createTimeEnd}
            </if>
        </where>
    </select>
</mapper>
