<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.BomSubMapper">

    <update id="updateOne">
        UPDATE U_BOM11 SET
            Modle = #{da.modle},
            Brand = #{da.brand}
        WHERE
            LineNum = #{da.lineNum}
        AND DocEntry = #{da.docEntry}
    </update>
</mapper>
