<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.EnquiryMainMapper">

    <select id="selectByDocEntry" resultType="com.lianchuangjie.lianchuangjie.entity.EnquiryMainEntity">
        DECLARE @FormID BIGINT;
        DECLARE @DataPur VARCHAR(10);
        SELECT @FormID = FormID FROM T_OUDW WHERE UdoID = 'T_ICIN';
        SELECT @DataPur = [dbo].[UF_DataPurview](#{UserSign}, @FormID);
        SELECT TOP (1) T0.*,
                       T_OVTG.Name          AS 'U_VatGroup',
                       T_OVTG.Rate          AS 'U_VatRate',
                       MAX(U_ICIN1.ExpDate) AS 'InvalidDateMax',
                       Min(U_ICIN1.ExpDate) AS 'InvalidDateMin'
        FROM T_ICIN T0
        LEFT JOIN T_OVTG ON T_OVTG.Code = T0.U_VatGroup
        LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = #{UserSign}) T2 ON T0.DeptCode = T2.DeptCode
        LEFT JOIN U_ICIN1 ON U_ICIN1.DocEntry = T0.DocEntry
        WHERE T0.DocEntry = #{DocEntry}
        AND (
            @DataPur = 'ALL' /*可看所有*/
            OR T0.OwnerCode = #{UserSign}
            OR T0.UserSign = #{UserSign} /*仅看自己，销售员或者制单人 等于 当前登录用户*/
            OR (@DataPur = 'Dept' AND ISNULL(T2.DeptCode, '') != '') /*可看本部门，当前登录用户所属部门 包括 当前订单的所属部门*/
        )
        GROUP BY T_OVTG.Name, T_OVTG.Rate, T0.DocEntry, UserSign, OwnerCode, DocStatus, CreateDate, UpdateTime,
                 T0.ExpDate, InquiryDate, T0.DeptCode, TransType, Branchs, Attachment, CardCode, CardName, Remark,
                 U_Buyer, U_ComCode, U_Delivery, U_DocCur, U_DocType, U_ItemCode, U_OrderType, U_PrjCode, U_SlpCode,
                 U_UrgentType, U_VatGroup, U_Industries, PrjCode, U_UserName, U_DeptName, U_CusLevel, U_CusGroupCode,
                 U_CusIndustries, U_SaleLevel, U_UserCode1, U_UserCode2, U_Region, U_DomainName, U_CntctCode,
                 U_CardStatus, U_ShortCode, U_State, U_New, U_SourceType, U_TransaPlace, U_FromCompany, U_RecipientName, U_RecipientTel, U_SenderTel, U_SenderName, U_FreightPayment, U_PaymentMethod
    </select>
    <select id="selectMaxDocEntry" resultType="java.lang.Long">
        SELECT MAX(DocEntry)
        FROM T_ICIN
    </select>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.EnquiryMainItemVO">
        DECLARE @UserSign BIGINT;
        DECLARE @DataPur NVARCHAR ( 10 ); /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT; /*视图编号*/
        DECLARE @PageSize INT;
        DECLARE @CurrentPage INT;
        SET @PageSize = ${sc.getSize}; /*每页显示数量*/
        SET @CurrentPage = ${sc.getPage}; /*当前页码*/
        SET @UserSign = ${sc.getOwnerCode};
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL; /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ); /*判断权限*/
        SELECT TOP (@PageSize) *
        FROM (
            SELECT
                ROW_NUMBER()OVER(ORDER BY T_ICIN.CreateDate DESC) AS ROWNUMBER,
                T_ICIN.CardName, /*客户名称*/
                T_ICIN.DocEntry, /*询价单编号*/
                COUNT ( U_ICIN1.LineNum ) AS 'EnquireSum', /*询价单总行数*/
                SUM(IIF(U_ICIN1.PriceAfVAT IS NOT NULL, 1, 0)) AS 'EnquireComplete', /*报价完成行数*/
                T_ICIN.U_State, /*处理情况*/
                T_ICIN.U_New, /*更新情况*/
                T_ICIN.U_SourceType, /*询价来源*/
                T_ICIN.CreateDate, /*发送时间*/
                MIN(U_ICIN1.ExpDate) AS 'InvalidDateMin', /*最早失效时间*/
                MAX(U_ICIN1.ExpDate) AS 'InvalidDateMax', /*最晚失效时间*/
                (
                    (SELECT COUNT(*) FROM T_ICIN1 WHERE T_ICIN1.U_Status = 'Y' AND T_ICIN1.DocEntry = T_ICIN.DocEntry) +
                    (SELECT COUNT(*) FROM U_ICIN11 WHERE U_ICIN11.U_Status = 'Y' AND U_ICIN11.DocEntry = T_ICIN.DocEntry)
                ) AS 'PurchaseReply' /*采购回复次数来自两张表*/
            FROM T_ICIN
            LEFT JOIN U_ICIN1 ON T_ICIN.DocEntry = U_ICIN1.DocEntry
            LEFT JOIN (
                SELECT DeptCode
                FROM T_OUDL
                WHERE UserSign = @UserSign
            ) T3 ON T_ICIN.DeptCode = T3.DeptCode
            <where>
                T_ICIN.DocStatus = 'O' /*O表示有效、Q表示无效*/
                <if test="sc.cardCode!=null">
                    AND T_ICIN.CardCode = #{sc.cardCode}
                </if>
                <if test="sc.uState!=null">
                    AND T_ICIN.U_State = #{sc.uState}
                </if>
                <if test="sc.createDateStart!=null">
                    AND T_ICIN.CreateDate &gt;= #{sc.createDateStart}
                </if>
                <if test="sc.createDateEnd!=null">
                    AND T_ICIN.CreateDate &lt; #{sc.createDateEnd}
                </if>
                <if test="sc.invalidDateStart!=null">
                    AND T_ICIN.CreateDate &gt;= #{sc.invalidDateStart}
                </if>
                <if test="sc.invalidDateEnd!=null">
                    AND T_ICIN.CreateDate &lt; #{sc.invalidDateEnd}
                </if>
                <if test="sc.ownerCode!=null">
                    AND T_ICIN.OwnerCode = #{sc.ownerCode}
                </if>
                AND (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND (T_ICIN.UserSign = @UserSign OR T_ICIN.OwnerCode = @UserSign)) /*销售员本人*/
                )
            </where>
            GROUP BY T_ICIN.DocEntry, UserSign, OwnerCode, DocStatus, CreateDate, UpdateTime, T_ICIN.ExpDate, InquiryDate,
            T_ICIN.DeptCode, TransType, Branchs, Attachment, CardCode, CardName, Remark, T_ICIN.U_Buyer, T_ICIN.U_ComCode,
            T_ICIN.U_Delivery, U_DocCur, U_DocType, T_ICIN.U_ItemCode, U_OrderType, U_PrjCode, T_ICIN.U_SlpCode,
            U_UrgentType, T_ICIN.U_VatGroup, T_ICIN.U_Industries, PrjCode, U_UserName, U_DeptName, U_CusLevel,
            U_CusGroupCode, U_CusIndustries, T_ICIN.U_SaleLevel, U_UserCode1, U_UserCode2, U_Region, U_DomainName,
            U_CntctCode, T_ICIN.U_CardStatus, T_ICIN.U_ShortCode, U_State, U_New, U_SourceType, U_TransaPlace
        ) T
        WHERE T.ROWNUMBER > (@CurrentPage - 1) * @PageSize
        ORDER BY T.CreateDate DESC
    </select>
    <select id="countList" resultType="java.lang.Integer">
        DECLARE @UserSign BIGINT;
        DECLARE @DataPur NVARCHAR ( 10 ); /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT; /*视图编号*/
        SET @UserSign = ${sc.getOwnerCode};
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL; /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ); /*判断权限*/
        SELECT COUNT(*)
        FROM (
            SELECT T_ICIN.DocEntry
            FROM T_ICIN
            LEFT JOIN U_ICIN1 ON T_ICIN.DocEntry = U_ICIN1.DocEntry
            LEFT JOIN (
                SELECT DeptCode
                FROM T_OUDL
                WHERE UserSign = @UserSign
            ) T3 ON T_ICIN.DeptCode = T3.DeptCode
            <where>
                T_ICIN.DocStatus = 'O' /*O表示有效、Q表示无效*/
                <if test="sc.cardCode!=null">
                    AND T_ICIN.CardCode = #{sc.cardCode}
                </if>
                <if test="sc.uState!=null">
                    AND T_ICIN.U_State = #{sc.uState}
                </if>
                <if test="sc.createDateStart!=null">
                    AND T_ICIN.CreateDate &gt;= #{sc.createDateStart}
                </if>
                <if test="sc.createDateEnd!=null">
                    AND T_ICIN.CreateDate &lt; #{sc.createDateEnd}
                </if>
                <if test="sc.invalidDateStart!=null">
                    AND T_ICIN.CreateDate &gt;= #{sc.invalidDateStart}
                </if>
                <if test="sc.invalidDateEnd!=null">
                    AND T_ICIN.CreateDate &lt; #{sc.invalidDateEnd}
                </if>
                <if test="sc.ownerCode!=null">
                    AND T_ICIN.OwnerCode = #{sc.ownerCode}
                </if>
                AND (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND (T_ICIN.UserSign = @UserSign OR T_ICIN.OwnerCode = @UserSign)) /*销售员本人*/
                )
            </where>
            GROUP BY T_ICIN.DocEntry, UserSign, OwnerCode, DocStatus, CreateDate, UpdateTime, T_ICIN.ExpDate, InquiryDate,
            T_ICIN.DeptCode, TransType, Branchs, Attachment, CardCode, CardName, Remark, T_ICIN.U_Buyer, T_ICIN.U_ComCode,
            T_ICIN.U_Delivery, U_DocCur, U_DocType, T_ICIN.U_ItemCode, U_OrderType, U_PrjCode, T_ICIN.U_SlpCode,
            U_UrgentType, T_ICIN.U_VatGroup, T_ICIN.U_Industries, PrjCode, U_UserName, U_DeptName, U_CusLevel,
            U_CusGroupCode, U_CusIndustries, T_ICIN.U_SaleLevel, U_UserCode1, U_UserCode2, U_Region, U_DomainName,
            U_CntctCode, T_ICIN.U_CardStatus, T_ICIN.U_ShortCode, U_State, U_New, U_SourceType, U_TransaPlace
        ) T
    </select>
</mapper>
