<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.EnquiryMainMapper">

    <select id="selectByDocEntry" resultType="com.lianchuangjie.lianchuangjie.entity.Enquiry.EnquiryMainEntity">
        DECLARE @FormID BIGINT;
        DECLARE @DataPur VARCHAR(10);
        SELECT @FormID = FormID FROM T_OUDW WHERE UdoID = 'T_ICIN';
        SELECT @DataPur = [dbo].[UF_DataPurview](#{UserSign}, @FormID);
        SELECT TOP (1) T0.*,
                       T_OVTG.Name          AS 'U_VatGroup',
                       T_OVTG.Rate          AS 'U_VatRate',
                       MAX(U_ICIN1.ExpDate) AS 'InvalidDateMax',
                       Min(U_ICIN1.ExpDate) AS 'InvalidDateMin'
        FROM (
            SELECT
                DocEntry,
                UserSign,
                OwnerCode,
                U_UserName, /*销售员姓名*/
                DeptCode,
                U_DocCur, /*交易货币*/
                U_TransaPlace, /*交易地点*/
                U_DeptName, /*销售部门名称*/
                CardName, /*客户名称*/
                CardCode, /*客户编号*/
                U_CusGroupCode, /*客户性质*/
                U_SourceType, /*询价来源*/
                U_CusLevel, /*客户等级名称*/
                U_DomainName, /*客户行业领域名称*/
                U_VatGroup
            FROM T_ICIN WHERE DocEntry = #{DocEntry}
        ) T0
        LEFT JOIN T_OVTG ON T_OVTG.Code = T0.U_VatGroup
        LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = #{UserSign}) T2 ON T0.DeptCode = T2.DeptCode
        LEFT JOIN U_ICIN1 ON U_ICIN1.DocEntry = T0.DocEntry
        AND (
            @DataPur = 'ALL' /*可看所有*/
            OR T0.OwnerCode = #{UserSign} OR T0.UserSign = #{UserSign} /*仅看自己，销售员或者制单人 等于 当前登录用户*/
            OR (@DataPur = 'Dept' AND ISNULL(T2.DeptCode, '') != '') /*可看本部门，当前登录用户所属部门 包括 当前订单的所属部门*/
        )
        GROUP BY T0.DocEntry, T0.UserSign, T0.OwnerCode, T0.U_UserName, T0.DeptCode, T0.U_TransaPlace,T0.U_DeptName,
                 T0.CardName, T0.CardCode, T0.U_CusGroupCode, T0.U_CusLevel, T0.U_DomainName,T0. U_VatGroup, T0.U_DocCur,
                 T0.U_SourceType, T_OVTG.Name, T_OVTG.Rate
    </select>
    <select id="selectMaxDocEntry" resultType="java.lang.Long">
        SELECT MAX(DocEntry)
        FROM T_ICIN
    </select>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.EnquiryMainItemVO">
        DECLARE @UserSign BIGINT;
        DECLARE @DataPur NVARCHAR ( 10 ); /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT; /*视图编号*/
        DECLARE @PageSize INT;
        DECLARE @CurrentPage INT;
        SET @PageSize = ${sc.getSize}; /*每页显示数量*/
        SET @CurrentPage = ${sc.getPage}; /*当前页码*/
        SET @UserSign = ${sc.getOwnerCode};
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL; /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ); /*判断权限*/
        SELECT TOP (@PageSize) *
        FROM (
            SELECT
                ROW_NUMBER()OVER(ORDER BY MainTable.CreateDate DESC) AS ROWNUMBER,
                MainTable.*,
                COUNT ( U_ICIN1.LineNum ) AS 'EnquireSum', /*询价单总行数*/
                SUM(IIF(U_ICIN1.PriceAfVAT IS NOT NULL, 1, 0)) AS 'EnquireComplete', /*报价完成行数*/
                MIN(U_ICIN1.ExpDate) AS 'InvalidDateMin', /*最早失效时间*/
                MAX(U_ICIN1.ExpDate) AS 'InvalidDateMax', /*最晚失效时间*/
                (
                    (SELECT COUNT(*) FROM T_ICIN1 WHERE T_ICIN1.U_Status = 'Y' AND T_ICIN1.DocEntry = MainTable.DocEntry) +
                    (SELECT COUNT(*) FROM U_ICIN11 WHERE U_ICIN11.U_Status = 'Y' AND U_ICIN11.DocEntry = MainTable.DocEntry)
                ) AS 'PurchaseReply' /*采购回复次数来自两张表*/
            FROM (
                SELECT
                    T_ICIN.CardName, /*客户名称*/
                    T_ICIN.DocEntry, /*询价单编号*/
                    T_ICIN.UserSign, /*用户编号*/
                    T_ICIN.OwnerCode, /*用户编号*/
                    T_ICIN.U_State, /*处理情况*/
                    T_ICIN.U_New, /*更新情况*/
                    T_ICIN.DeptCode, /*部门代码*/
                    T_ICIN.U_SourceType, /*询价来源*/
                    T_ICIN.CreateDate /*发送时间*/
                FROM T_ICIN
                <where>
                    T_ICIN.DocStatus = 'O' /*O表示有效、Q表示无效*/
                    <if test="sc.cardCode!=null">
                        AND T_ICIN.CardCode = #{sc.cardCode}
                    </if>
                    <if test="sc.uState!=null">
                        AND T_ICIN.U_State = #{sc.uState}
                    </if>
                    <if test="sc.inquiryDateStart!=null">
                        AND T_ICIN.CreateDate &gt;= #{sc.inquiryDateStart}
                    </if>
                    <if test="sc.inquiryDateEnd!=null">
                        AND T_ICIN.CreateDate &lt; #{sc.inquiryDateEnd}
                    </if>
                    <if test="sc.invalidDateStart!=null">
                        AND T_ICIN.CreateDate &gt;= #{sc.invalidDateStart}
                    </if>
                    <if test="sc.invalidDateEnd!=null">
                        AND T_ICIN.CreateDate &lt; #{sc.invalidDateEnd}
                    </if>
                    <if test="sc.uSourceType != null">
                        AND T_ICIN.U_SourceType = #{sc.uSourceType}
                    </if>
                </where>
            ) MainTable
            LEFT JOIN (
                SELECT DeptCode
                FROM T_OUDL
                WHERE UserSign = @UserSign
            ) T3 ON T3.DeptCode = MainTable.DeptCode
            LEFT JOIN U_ICIN1 ON MainTable.DocEntry = U_ICIN1.DocEntry
            WHERE (
                @DataPur = 'ALL' /*可看所有*/
                OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                OR (@DataPur = 'Self' AND (MainTable.UserSign = @UserSign OR MainTable.OwnerCode = @UserSign)) /*销售员本人*/
            )
            GROUP BY MainTable.CreateDate, MainTable.CardName, MainTable.DocEntry, MainTable.UserSign, MainTable.OwnerCode,
                     MainTable.U_State, MainTable.U_New, MainTable.DeptCode, MainTable.U_SourceType
        ) T
        WHERE T.ROWNUMBER > (@CurrentPage - 1) * @PageSize
        ORDER BY T.CreateDate DESC
    </select>
    <select id="countList" resultType="java.lang.Integer">
        DECLARE @UserSign BIGINT;
        DECLARE @DataPur NVARCHAR ( 10 ); /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT; /*视图编号*/
        SET @UserSign = ${sc.getOwnerCode};
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL; /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ); /*判断权限*/
        SELECT COUNT(*)
        FROM (
            SELECT
                ROW_NUMBER()OVER(ORDER BY MainTable.CreateDate DESC) AS ROWNUMBER
            FROM (
                SELECT
                    T_ICIN.CardName, /*客户名称*/
                    T_ICIN.DocEntry, /*询价单编号*/
                    T_ICIN.UserSign, /*用户编号*/
                    T_ICIN.OwnerCode, /*用户编号*/
                    T_ICIN.U_State, /*处理情况*/
                    T_ICIN.U_New, /*更新情况*/
                    T_ICIN.DeptCode, /*部门代码*/
                    T_ICIN.U_SourceType, /*询价来源*/
                    T_ICIN.CreateDate /*发送时间*/
                FROM T_ICIN
                <where>
                    T_ICIN.DocStatus = 'O' /*O表示有效、Q表示无效*/
                    <if test="
                            sc.cardCode!=null">AND T_ICIN.CardCode = #{sc.cardCode}
                    </if>
                    <if test="
                            sc.uState!=null">AND T_ICIN.U_State = #{sc.uState}
                    </if>
                    <if test="sc.InquiryDateStart!=null">
                        AND T_ICIN.CreateDate &gt;= #{sc.inquiryDateStart}
                    </if>
                    <if test="sc.InquiryDateEnd!=null">
                        AND T_ICIN.CreateDate &lt; #{sc.inquiryDateEnd}
                    </if>
                    <if test="sc.invalidDateStart!=null">
                        AND T_ICIN.CreateDate &gt;= #{sc.invalidDateStart}
                    </if>
                    <if test="sc.invalidDateEnd!=null">
                        AND T_ICIN.CreateDate &lt; #{sc.invalidDateEnd}
                    </if>
                    <if test="sc.uSourceType != null">
                        AND T_ICIN.U_SourceType = #{sc.uSourceType}
                    </if>
                </where>
            ) MainTable
            LEFT JOIN (
                SELECT DeptCode
                FROM T_OUDL
                WHERE UserSign = @UserSign
            ) T3 ON T3.DeptCode = MainTable.DeptCode
            LEFT JOIN U_ICIN1 ON MainTable.DocEntry = U_ICIN1.DocEntry
            WHERE (
                @DataPur = 'ALL' /*可看所有*/
                OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                OR (@DataPur = 'Self' AND (MainTable.UserSign = @UserSign OR MainTable.OwnerCode = @UserSign)) /*销售员本人*/
            )
            GROUP BY MainTable.CreateDate, MainTable.CardName, MainTable.DocEntry, MainTable.UserSign, MainTable.OwnerCode,
            MainTable.U_State, MainTable.U_New, MainTable.DeptCode, MainTable.U_SourceType
        ) T
    </select>
</mapper>
