<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Enquiry.EnquirySubMapper">
    <update id="updateOne" parameterType="com.lianchuangjie.lianchuangjie.entity.Enquiry.EnquirySubEntity">
        UPDATE U_ICIN1
        SET BaseEntry   = #{Entity.baseEntry},
            BaseLine    = #{Entity.baseLine},
            QuoCurr     = #{Entity.quoCurr},
            PriceAfVAT  = #{Entity.priceAfVAT},
            SuoQuantity = #{Entity.suoQuantity},
            QuoVatGroup = #{Entity.quoVatGroup},
            SuoYear     = #{Entity.suoYear},
            SuoBuyer    = #{Entity.suoBuyer},
            SuoDelivery = #{Entity.suoDelivery},
            QuoBrand    = #{Entity.quoBrand},
            QuoModle    = #{Entity.quoModle}
        WHERE DocEntry = #{Entity.docEntry} AND LineNum = #{Entity.lineNum}
    </update>
    <update id="updateBuyers" parameterType="com.lianchuangjie.lianchuangjie.entity.Enquiry.EnquirySubEntity">
        UPDATE U_ICIN1
        SET Buyer = #{Entity.buyer}
        WHERE DocEntry = #{Entity.docEntry} AND LineNum = #{Entity.lineNum}
    </update>
    <update id="order" parameterType="com.lianchuangjie.lianchuangjie.entity.Enquiry.EnquirySubEntity">
        UPDATE U_ICIN1
        SET IsOrdered = 'Y'
        WHERE DocEntry = #{Entity.docEntry}
        AND LineNum = #{Entity.lineNum}
        AND BaseEntry = #{Entity.baseEntry}
        AND BaseLine = #{Entity.baseLine}
    </update>
    <delete id="clear">
        /*删掉之前保存过的货源,但是不能删除原始需求*/
        DELETE
        FROM U_ICIN1
        WHERE DocEntry = #{DocEntry}
        AND ItemLine = #{LineNum};
        /*这条需求本身的这一条也要清空*/
        UPDATE U_ICIN1
        SET BaseEntry   = NULL,
            BaseLine    = NULL,
            QuoModle    = NULL,
            QuoBrand    = NULL,
            PriceAfVAT  = NULL,
            QuoCurr     = NULL,
            SuoQuantity = NULL,
            QuoVatGroup = NULL,
            SuoYear     = NULL,
            SuoBuyer    = NULL,
            SuoDelivery = NULL
        WHERE DocEntry = #{DocEntry} AND LineNum = #{LineNum};
    </delete>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.EnquirySubVO">
        SELECT
            Enquiry.*,
            Quotation.U_QuoLevel, /*供应商等级*/
            Quotation.U_QCDesc, /*质检标准*/
            Quotation.U_QuoDate, /*报价日期*/
            Quotation.UserName AS 'BuyerName', /*采购员姓名*/
            Quotation.DeptName /*采购部门名称*/
        FROM  (
            SELECT
                U_ICIN1.DocEntry, /*询价单编号*/
                U_ICIN1.LineNum, /*询价单行号*/
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.Brand, /*需求品牌*/
                U_ICIN1.Year, /*需求批次*/
                U_ICIN1.ECCN, /*ECCN*/
                U_ICIN1.Delivery, /*需求交期*/
                U_ICIN1.DemandQty, /*需求数量*/
                U_ICIN1.CurRemark, /*客户备注*/
                U_ICIN1.Status, /*询价状态*/
                U_ICIN1.ItemDescStatus, /*询价状态*/
                U_ICIN1.ExpectedPrice, /*接受价格*/
                U_ICIN1.PriceAfVAT, /*销售报价*/
                U_ICIN1.QuoModle, /*报价型号*/
                U_ICIN1.QuoBrand, /*报价品牌*/
                U_ICIN1.SuoQuantity /*报价数量*/
            FROM U_ICIN1
            WHERE U_ICIN1.DocEntry = #{sc.docEntry}
        ) Enquiry
        LEFT JOIN T_ICIN ON Enquiry.DocEntry = T_ICIN.DocEntry
        LEFT JOIN (
            SELECT
                T.*,
                T_OUSI.UserName, /*采购员姓名*/
                T_OCDP.Name AS 'DeptName' /*采购部门*/
            FROM (
                SELECT
                    U_BaseEntry,
                    U_BaseLine,
                    U_Buyer,
                    U_QuoDate,
                    U_QCDesc, /*质检标准*/
                    U_QuoLevel /*供应商等级*/
                FROM T_ICIN1
                UNION ALL
                SELECT
                    U_BaseEntry,
                    U_BaseLine,
                    U_Buyer,
                    U_QuoDate,
                    U_QCDesc, /*质检标准*/
                    U_QuoLevel /*供应商等级*/
                FROM U_ICIN11
            ) T
            LEFT JOIN T_OUSI ON T.U_Buyer = T_OUSI.UserSign
            LEFT JOIN T_OCDP ON T_OCDP.DeptCode = T_OUSI.DftDept
        ) Quotation ON Quotation.U_BaseLine = Enquiry.LineNum AND Quotation.U_BaseEntry = Enquiry.DocEntry /*报价信息*/
        ORDER BY Enquiry.LineNum
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT COUNT(*) FROM U_ICIN1 WHERE DocEntry = #{DocEntry}
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.entity.Enquiry.EnquirySubEntity">
        SELECT * FROM U_ICIN1
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
    <select id="head" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportHeadVO" >
        SELECT
            DocEntry, /*编号*/
            U_SenderName, /*发件人姓名*/
            U_SenderTel, /*发件人电话*/
            U_RecipientName, /*收件人姓名*/
            U_RecipientTel, /*收件人电话*/
            U_FromCompany, /*报价公司抬头*/
            U_TransaPlace, /*交易地点*/
            U_FreightPayment, /*运费支付*/
            T_OVTG.Rate AS 'VatRate', /*税率*/
            U_PaymentMethod, /*付款方式*/
            T_ICIN.CardName, /*致客户名称*/
            ExpDate, /*有效期*/
            U_DocCur /*需求货币*/
        FROM T_ICIN
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE T_ICIN.DocEntry = #{sc.docEntry}
    </select>
    <select id="selectQuoteList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportItemVO">
        /*
         * 1. 查询标准报价单列表
         * 2. 选择多个货源时, 多个货源行号相同
         */
        SELECT *
        FROM (
            SELECT
                IIF(U_ICIN1.ItemLine IS NOT NULL, U_ICIN1.ItemLine, U_ICIN1.LineNum) AS 'LineNum',
                U_ICIN1.ItemLine,
                U_ICIN1.SuoQuantity,
                U_ICIN1.PriceAfVAT,
                U_ICIN1.SuoYear,
                U_ICIN1.SuoDelivery,
                U_ICIN1.LineRemark,
                U_ICIN1.PriceAfVAT *  U_ICIN1.SuoQuantity AS 'Amount',
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.QuoModle, /*报价型号*/
                U_ICIN1.QuoBrand, /*报价品牌*/
                U_ICIN1.Brand /*需求品牌*/
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON U_ICIN1.DocEntry = T_ICIN.DocEntry
            WHERE U_ICIN1.DocEntry = #{sc.docEntry}
            AND T_ICIN.OwnerCode = #{sc.ownerCode}
            AND U_ICIN1.ItemId = U_ICIN1.LineNum /*不是关联型号*/
        ) T
        ORDER BY T.LineNum
    </select>
    <select id="selectExportList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportItemVO">
        /*
         * 1. 销售报价单导出列表
         * 2. 对同一条需求的多个货源, 只显示第一条需求的行号
         * 3. 不导出备用货源
         * 4. 不导出关联型号
         * 5. 重新生成行号
         */
        SELECT
            IIF(T.ItemLine IS NOT NULL, NULL, ROW_NUMBER() OVER ( ORDER BY T.LineNum )) AS 'LineNum', /*重新生成行号*/
            T.Modle,
            T.Brand,
            T.QuoModle,
            T.QuoBrand,
            T.SuoQuantity,
            T.SuoDelivery,
            T.SuoYear,
            T.LineRemark,
            T.PriceAfVAT,
            T.Amount
        FROM (
            SELECT
                IIF(U_ICIN1.ItemLine IS NOT NULL, U_ICIN1.ItemLine, U_ICIN1.LineNum) AS 'LineNum', /*行号*/
                U_ICIN1.ItemLine, /*原始需求行号*/
                U_ICIN1.SuoQuantity, /*报价数量*/
                U_ICIN1.PriceAfVAT, /*销售报价价格*/
                U_ICIN1.SuoYear, /*报价批次*/
                U_ICIN1.SuoDelivery, /*报价交期*/
                U_ICIN1.LineRemark, /*销售备注*/
                U_ICIN1.PriceAfVAT *  U_ICIN1.SuoQuantity AS 'Amount', /*金额*/
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.QuoModle, /*报价型号*/
                U_ICIN1.QuoBrand, /*报价品牌*/
                U_ICIN1.Brand /*需求品牌*/
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON U_ICIN1.DocEntry = T_ICIN.DocEntry
            WHERE U_ICIN1.DocEntry = #{sc.docEntry}
            AND T_ICIN.OwnerCode = #{sc.ownerCode}
            AND U_ICIN1.IsSpare != 'Y' /*不是备用货源*/
            AND U_ICIN1.ItemId = U_ICIN1.LineNum /*不是关联型号*/
        ) T
        ORDER BY T.LineNum
    </select>
</mapper>
