<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.StockList.StockListSubMapper">

    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.StockList.StockListSubVO">
        SELECT
            U_StockList1.Modle,
            U_StockList1.Brand,
            U_StockList1.Price,
            U_StockList1.Quantity,
            U_StockList1.Year,
            StockQuantity.Quantity AS StockQuantity, /*现有库存数量*/
            LatestStockPrice.kc_price_final, /*最近一次库存定价*/
            LatestQuotation.U_QuoPrice /*最近一次采购报价*/
        FROM U_StockList1
        LEFT JOIN (
            /*最近一次定价信息*/
            SELECT DISTINCT
                kc_now.Brand,
                kc_now.ItemName,
                kc_now.kc_price_final,
                kc_now.ConfirmDate
            FROM (
                SELECT
                     ItemName,
                     Brand,
                     MAX ( ConfirmDate ) AS ConfirmDate
                FROM
                     kc_now
                WHERE Modify = 'Y'
                AND kc_price_final IS NOT NULL
                GROUP BY
                     ItemName,
                     Brand
            ) LastDate
            LEFT JOIN kc_now ON kc_now.ItemName = LastDate.ItemName
            AND LastDate.Brand = kc_now.Brand
            AND LastDate.ConfirmDate = kc_now.ConfirmDate
        ) LatestStockPrice ON LatestStockPrice.Brand = U_StockList1.Brand AND LatestStockPrice.ItemName = U_StockList1.Modle
        LEFT JOIN (
            /*最近一次采购报价*/
            SELECT
                T_ICIN1.Modle,
                T_ICIN1.Brand,
                T_ICIN1.U_QuoPrice,
                T_ICIN1.U_QuoDate
            FROM (
                     SELECT
                         MAX(U_QuoDate) AS U_QuoDate,
                         T_ICIN1.Modle,
                         T_ICIN1.Brand
                     FROM T_ICIN1
                     WHERE T_ICIN1.U_QuoDate IS NOT NULL
                       AND T_ICIN1.U_QuoPrice IS NOT NULL
                     GROUP BY
                         T_ICIN1.Modle,
                         T_ICIN1.Brand
                 ) LastDate
                     LEFT JOIN T_ICIN1 ON LastDate.Brand = T_ICIN1.Brand
                AND LastDate.Modle = T_ICIN1.Modle
                AND LastDate.U_QuoDate = T_ICIN1.U_QuoDate
            WHERE T_ICIN1.U_QuoDate IS NOT NULL
              AND T_ICIN1.U_QuoPrice IS NOT NULL
        ) LatestQuotation ON LatestQuotation.Brand = U_StockList1.Brand AND LatestQuotation.Modle = U_StockList1.Modle
        LEFT JOIN (
            /*各型号品牌现有库存数量*/
            SELECT
                T_OBTN.ItemName,
                StockBrand.Brand,
                SUM(
                    CASE
                        WHEN T.Quantity = 0 THEN 0
                        WHEN T.Quantity &lt; T_OBTN.U_LockQty THEN T.Quantity
                        ELSE T_OBTN.U_LockQty
                    END
                ) AS Quantity
            FROM (
                SELECT
                    MdAbsEntry,
                    SUM(Quantity) AS Quantity
                FROM T_OBTQ
                GROUP BY MdAbsEntry
            ) T
            INNER JOIN T_OBTN ON T.MdAbsEntry = T_OBTN.AbsEntry
            LEFT JOIN (
                /*通过物料编码字段 匹配 T_OITM（物料主数据表）的品牌*/
                SELECT
                    T_OBTN.ItemName,
                    IIF(ISNULL(T_OITM.U_QuoBrand, '') = '', T_OITM.U_Brand, T_OITM.U_QuoBrand) AS Brand
                FROM T_OBTN
                INNER JOIN T_OITM ON T_OBTN.ItemCode = T_OITM.ItemCode
            ) StockBrand ON StockBrand.ItemName = T_OBTN.ItemName
            GROUP BY T_OBTN.ItemName, StockBrand.Brand
        ) StockQuantity ON StockQuantity.ItemName = U_StockList1.Modle AND StockQuantity.Brand = U_StockList1.Brand
        LEFT JOIN (
            SELECT
                U_StockRank.Modle,
                U_StockRank.Brand,
                U_StockRank.TotalScore
            FROM U_StockRank
        ) StockRank ON StockRank.Modle = U_StockList1.Modle AND StockRank.Brand = U_StockList1.Brand
        WHERE U_StockList1.DocEntry = #{sc.docEntry}
    </select>
</mapper>
