<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.ClienteleLevelMapper">
    <select id="queryByType" resultType="com.lianchuangjie.lianchuangjie.vo.ClienteleLevelItemVO">
        <if test="Type = 'C'">
            SELECT * FROM U_OHDJ
        </if>
        <if test="Type = 'S'">
            SELECT * FROM U_OGHZ
        </if>
    </select>
</mapper>
