<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.EnquiryMainMapper">

    <select id="selectByDocEntry" resultType="com.lianchuangjie.lianchuangjie.entity.EnquiryMainEntity">
        DECLARE @FormID BIGINT;
        DECLARE @DataPur VARCHAR(10);
        SELECT @FormID = FormID
        FROM T_OUDW
        WHERE UdoID = 'T_ICIN';
        SELECT @DataPur = [dbo].[UF_DataPurview](#{UserSign}, @FormID);
        SELECT TOP (1) T0.*, T_OVTG.Name AS 'U_VatGroup', T_OVTG.Rate AS 'U_VatRate', MAX(U_ICIN1.ExpDate) AS 'InvalidDateMax', Min(U_ICIN1.ExpDate) AS 'InvalidDateMin'
        FROM T_ICIN T0
                 LEFT JOIN T_OVTG ON T_OVTG.Code = T0.U_VatGroup
                 LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = #{UserSign}) T2 ON T0.DeptCode = T2.DeptCode
                 LEFT JOIN U_ICIN1 ON U_ICIN1.DocEntry = T0.DocEntry
        WHERE T0.DocEntry = #{DocEntry}
          AND (
                    @DataPur = 'ALL' /*可看所有*/
                OR T0.OwnerCode = #{UserSign}
                OR T0.UserSign = #{UserSign} /*仅看自己，销售员或者制单人 等于 当前登录用户*/
                OR (@DataPur = 'Dept' AND ISNULL(T2.DeptCode, '') != '') /*可看本部门，当前登录用户所属部门 包括 当前订单的所属部门*/
            )
        GROUP BY T_OVTG.Name, T_OVTG.Rate, T0.DocEntry, UserSign, OwnerCode, DocStatus, CreateDate, UpdateTime, T0.ExpDate, InquiryDate, T0.DeptCode, TransType, Branchs, Attachment, CardCode, CardName, Remark, U_Buyer, U_ComCode, U_Delivery, U_DocCur, U_DocType, U_ItemCode, U_OrderType, U_PrjCode, U_SlpCode, U_UrgentType, U_VatGroup, U_Industries, PrjCode, U_UserName, U_DeptName, U_CusLevel, U_CusGroupCode, U_CusIndustries, U_SaleLevel, U_UserCode1, U_UserCode2, U_Region, U_DomainName, U_CntctCode, U_CardStatus, U_ShortCode, State, New, SourceType, T0.Year, U_TransaPlace
    </select>
    <select id="existByDocEntry" resultType="java.lang.Boolean">
        IF (SELECT COUNT(*)
            FROM T_ICIN
            WHERE DocEntry = #{DocEntry}) > 0
            SELECT 1
        ELSE
            SELECT 0
    </select>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryMainVO">
        SELECT T_ICIN.*
            FROM T_ICIN
        <where>
            <if test="searchDTO.OwnerCode != null">
                AND T_ICIN.OwnerCode = #{searchDTO.OwnerCode}
            </if>
        </where>

    </select>
</mapper>
