<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.EnquiryRecoPriceMapper">

    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryRecoPriceVO">
        SELECT
            T_ICIN1.U_QuoDate, /*报价日期*/
            T_OUSI.UserName AS 'SuoBuyerName', /*采购员姓名*/
            T_OCDP.Name AS 'U_DftDeptName', /*采购部门名称*/
            T_ICIN1.U_QuoPrice, /*采购报价价格*/
            T_ICIN1.U_QuoModle AS 'QuoModle', /*报价型号*/
            T_ICIN1.U_QuoDelivery AS 'SuoDelivery', /*报价货期*/
            T_ICIN1.U_QuoYear AS 'SuoYear', /*报价批次*/
            T_ICIN1.U_QuoQty AS 'SuoQuantity', /*报价数量*/
            T_ICIN1.U_QuoLevel, /*供应商等级*/
            T_ICIN1.U_QCDesc /*质检标准*/
        FROM T_ICIN1
        LEFT JOIN T_OUSI ON T_ICIN1.U_Buyer = T_OUSI.UserSign
        LEFT JOIN T_OCDP ON T_OUSI.DftDept = T_OCDP.DeptCode
        WHERE T_ICIN1.U_QuoBrand = ${sc.getBrand}
        AND T_ICIN1.U_QuoModle = ${sc.getModle}
        AND (
            (T_OCDP.Name IN (N'海外组', N'大中华组') AND DateDiff(dd,T_ICIN1.U_QuoDate,getdate()) &lt;= 30) OR
            (T_OCDP.Name IN (N'亚洲组', N'欧洲组', N'北美组') AND DateDiff(dd,T_ICIN1.U_QuoDate,getdate()) &lt;= 30)
        )
    </select>
</mapper>
