<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.EnquirySubMapper">
    <update id="updateOne" parameterType="com.lianchuangjie.lianchuangjie.entity.EnquirySubEntity">
        UPDATE U_ICIN1
        SET BaseEntry   = #{Entity.baseEntry},
            BaseLine    = #{Entity.baseLine},
            QuoCurr     = #{Entity.quoCurr},
            PriceAfVAT  = #{Entity.priceAfVAT},
            SuoQuantity = #{Entity.suoQuantity},
            QuoVatGroup = #{Entity.quoVatGroup},
            SuoYear     = #{Entity.suoYear},
            SuoBuyer    = #{Entity.suoBuyer},
            SuoDelivery = #{Entity.suoDelivery},
            QuoBrand    = #{Entity.quoBrand},
            QuoModle    = #{Entity.quoModle}
        WHERE DocEntry = #{Entity.docEntry} AND LineNum = #{Entity.lineNum}
    </update>
    <update id="updateBuyers" parameterType="com.lianchuangjie.lianchuangjie.entity.EnquirySubEntity">
        UPDATE U_ICIN1
        SET Buyers = #{Entity.buyers}
        WHERE DocEntry = #{Entity.docEntry} AND LineNum = #{Entity.lineNum}
    </update>
    <update id="order" parameterType="com.lianchuangjie.lianchuangjie.entity.EnquirySubEntity">
        UPDATE U_ICIN1
        SET IsOrdered = 'Y'
        WHERE DocEntry = #{Entity.docEntry}
        AND LineNum = #{Entity.lineNum}
        AND BaseEntry = #{Entity.baseEntry}
        AND BaseLine = #{Entity.baseLine}
    </update>
    <delete id="clear">
        /*删掉之前保存过的货源,但是不能删除原始需求*/
        DELETE
        FROM U_ICIN1
        WHERE DocEntry = #{DocEntry}
        AND ItemLine = #{LineNum};
        /*这条需求本身的这一条也要清空*/
        UPDATE U_ICIN1
        SET BaseEntry   = NULL,
            BaseLine    = NULL,
            QuoModle    = NULL,
            QuoBrand    = NULL,
            PriceAfVAT  = NULL,
            QuoCurr     = NULL,
            SuoQuantity = NULL,
            QuoVatGroup = NULL,
            SuoYear     = NULL,
            SuoBuyer    = NULL,
            SuoDelivery = NULL
        WHERE DocEntry = #{DocEntry} AND LineNum = #{LineNum};
    </delete>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquirySubVO">
        /*
         * 1. U_ICIN1.LineNum 是主键不能复制, 也不能为空
         * 2. 增加 U_ICIN1.ItemEntry、U_ICIN1.ItemLine 两个字段, U_ICIN1.ItemEntry = U_ICIN1.DocEntry; U_ICIN1.ItemLine = U_ICIN1.LineNum
         * 3. 增加 U_ICIN1.IsSpare 该货源是否为备用货源
         * 4. 是否选中一个货源的判断依据为 U_ICIN1.BaseEntry、U_ICIN1.BaseLine、U_ICIN1.PriceAFVAT 不为空
         * 5. 超过一个月的货源在表 U_ICIN11 中
         */
        DECLARE @DocEntry INT; /*询价单编号*/
        DECLARE @TwoDays INT; /*2天有效期*/
        DECLARE @ThreeDays INT; /*3天有效期*/
        SET @TwoDays = 30;
        SET @ThreeDays = 30;
        SET @DocEntry = #{sc.docEntry};
        /*创建临表，按照价格和报价数量分类将数据插入临表，可能存在某个型号有多个货源的情况，所以这里其实需要一个ORDER BY*/
        SELECT T2.*
        INTO #best
        FROM (
            /*每个型号的最低价格*/
            SELECT
                T0.U_QuoModle,
                T0.U_QuoBrand,
                T0.U_QuoQty,
                T0.U_QuoPrice
            FROM T_ICIN1 T0
            WHERE T0.U_QuoPrice IS NOT NULL
            GROUP BY
                T0.U_QuoModle,
                T0.U_QuoBrand,
                T0.U_QuoQty,
                T0.U_QuoPrice
        ) T1
        LEFT JOIN T_ICIN1 T2 ON (
                T1.U_QuoBrand = T2.U_QuoBrand
            AND T1.U_QuoModle = T2.U_QuoModle
            AND T1.U_QuoPrice = T2.U_QuoPrice
            AND T1.U_QuoQty = T2.U_QuoQty
        )
        LEFT JOIN T_OUSI ON T2.U_Buyer = T_OUSI.UserSign
        LEFT JOIN (
            SELECT
                DeptCode,
                (
                    CASE
                        WHEN T_OCDP.Name = N'海外组' THEN 1
                        WHEN T_OCDP.Name = N'大中华组' THEN 1
                        WHEN T_OCDP.Name = N'亚洲组' THEN 2
                        WHEN T_OCDP.Name = N'欧洲组' THEN 2
                        WHEN T_OCDP.Name = N'北美组' THEN 2
                    END
                ) AS 'Code'
            FROM T_OCDP
        ) BuyerDept ON T_OUSI.DftDept = BuyerDept.DeptCode /*采购部门*/
        /*海外组、大中华组2天有效；亚洲组、欧洲组、北美组3天内有效*/
        WHERE (
            (BuyerDept.Code = 1 AND DateDiff(dd, T2.U_QuoDate, getdate()) &lt;= @TwoDays) OR
            (BuyerDept.Code = 2 AND DateDiff(dd, T2.U_QuoDate, getdate()) &lt;= @ThreeDays)
        );

        /*将已选择的货源(销售必须把报价填了、客户需求与货源的关系BaseEntry和BaseLine不能为空)存入临表*/
        SELECT U_ICIN1.*
        INTO #selected
        FROM U_ICIN1
        WHERE DocEntry = @DocEntry
        AND BaseEntry IS NOT NULL
        AND BaseLine IS NOT NULL
        AND PriceAfVAT IS NOT NULL;

        /*正文开始*/
        SELECT T.*
        FROM (
            SELECT
                ClientNeeds.DocEntry, /*询价单编号*/
                ClientNeeds.LineNum, /*询价单行号*/
                ClientNeeds.Brand, /*需求品牌*/
                ClientNeeds.Modle, /*需求型号*/
                ClientNeeds.ECCN, /*ECCN*/
                ClientNeeds.DemandQty, /*需求数量*/
                ClientNeeds.Delivery, /*需求交期*/
                ClientNeeds.Year, /*需求批次*/
                ClientNeeds.CurRemark, /*客户备注*/
                ClientNeeds.Status, /*报价状态,B、C、D、E*/
                ClientNeeds.ItemDescStatus, /*报价状态,B、C、D、E*/
                ClientNeeds.ExpectedPrice, /*期待价格*/
                ClientNeeds.IsOrdered, /*是否已下单*/
                ClientNeeds.CardCode, /*客户代码*/
                ClientNeeds.U_Region, /*区域*/
                ClientNeeds.U_CusGroupCode, /*客户性质*/
                ClientNeeds.U_DomainName, /*客户行业领域*/
                ClientNeeds.LineRemark, /*销售备注*/
                ClientNeeds.ExpDate, /*失效时间*/
                ClientNeeds.Secrecy, /*是否保密*/
                IIF(ClientNeeds.BaseLine IS NULL, ClientNeeds.PriceAfVAT, Available.PriceAFVAT) AS 'PriceAfVAT', /*销售报价单价*/
                Available.DocEntry AS 'BaseEntry', /*采购报价单编号*/
                Available.LineNum  AS 'BaseLine', /*采购报价单行号*/
                Available.U_QuoBrand, /*报价品牌*/
                Available.U_QuoModle, /*报价型号*/
                Available.BuyerName, /*采购员姓名*/
                Available.U_Buyer, /*采购员编号*/
                IIF(Available.SuoQuantity IS NULL, Available.U_QuoQty, Available.SuoQuantity) AS 'U_QuoQty', /*采购和销售报价数量*/
                Available.U_QuoPrice, /*报价价格,人民币不含税*/
                Available.U_QCDesc, /*采购报价质检标准*/
                Available.U_QuoDelivery, /*采购报价交期*/
                Available.U_QuoYear, /*采购报价批次*/
                Available.U_QuoLevel, /*供应商等级*/
                Available.DeptName, /*采购部门名称,货源*/
                Available.U_QuoCurr, /*采购报价货币*/
                Available.U_QuoDate, /*采购报价日期*/
                Available.U_QuoVatGroup, /*采购报价税率代码*/
                Available.U_OriginEntry,
                Available.U_OriginLine,
                T_OVTG.Rate AS 'U_QuoVatRate', /*采购报价税率*/
                Available.Checked, /*货源是否已选择*/
                Available.IsSpare, /*货源属性,是否为备用货源*/
                ExchangeRate.Rate AS 'ExchangeRate', /*汇率*/
                (
                    CASE
                        WHEN ClientNeeds.DocEntry != Available.DocEntry THEN N'未询价'
                        WHEN Available.U_Status = 'Y' AND Available.U_OriginEntry IS NULL THEN N'已询价'
                        WHEN Available.U_Status = 'Y' AND Available.U_OriginEntry IS NOT NULL THEN N'新确认'
                        WHEN Available.U_Status = 'U' THEN N'已更新'
                    END
                )              AS 'QuoState',
                (
                    CASE
                        /*报价单编号和行号都与最优货源相同的是最优货源*/
                        WHEN
                            ClientNeeds.BestEntry IS NOT NULL
                            AND ClientNeeds.BestEntry = Available.DocEntry
                            AND ClientNeeds.BestLine = Available.LineNum
                        THEN N'最优货源'
                        /*报价单编号和行号都不为空的是普通货源*/
                        WHEN
                            Available.DocEntry IS NOT NULL
                            AND Available.LineNum IS NOT NULL
                        THEN N'普通货源'
                        /*其它的无货源*/
                    END
                )              AS 'type' /*货源类型*/
            FROM (
                /*客户需求以及最优货源*/
                SELECT
                    U_ICIN1.*,
                    T_ICIN.CardCode, /*客户代码*/
                    T_ICIN.U_Region, /*客户地区*/
                    T_ICIN.U_DomainName, /*行业领域*/
                    T_ICIN.U_CusGroupCode, /*客户性质*/
                    SDADA.TAG          AS 'DemandTag', /*客户需求型号和品牌确定的Tag*/
                    T_ICIN1_1.DocEntry AS 'BestEntry', /*最优货源报价单编号*/
                    T_ICIN1_1.LineNum  AS 'BestLine' /*最优货源报价单行号*/
                FROM U_ICIN1 /*客户需求子表*/
                /*客户需求主表*/
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                /*只选择一个最优货源进行关联*/
                LEFT JOIN T_ICIN1 T_ICIN1_1 ON (
                    /*型号和品牌*/
                    T_ICIN1_1.U_QuoModle = U_ICIN1.Modle
                    AND T_ICIN1_1.U_QuoBrand = U_ICIN1.Brand
                    /*采购报价货源编号是最优货源的第一个*/
                    AND T_ICIN1_1.DocEntry = (
                        SELECT TOP (1) #best.DocEntry
                        FROM #best
                        WHERE #best.U_QuoModle = U_ICIN1.Modle
                        AND #best.U_QuoBrand = U_ICIN1.Brand
                        ORDER BY #best.U_QuoPrice /*取报价最低的为最优货源*/
                    )
                    /*采购报价货源内部行号是最优货源的第一个*/
                    AND T_ICIN1_1.LineNum = (
                        SELECT TOP (1) #best.LineNum
                        FROM #best
                        WHERE #best.U_QuoModle = U_ICIN1.Modle
                        AND #best.U_QuoBrand = U_ICIN1.Brand
                        ORDER BY #best.U_QuoPrice /*取报价最低的为最优货源*/
                    )
                    /*最优货源采购报价数量不能少于客户需求的90%*/
                    AND T_ICIN1_1.U_QuoQty / U_ICIN1.DemandQty > 0.9
                    /*对KA客户排除D级供应商*/
                    AND (
                        (T_ICIN.U_CusLevel = N'一般客户' AND T_ICIN1_1.U_QuoLevel != 'D') OR
                        T_ICIN.U_CusLevel != N'一般客户'
                    )
                    /*还有一个批次条件，但是如何判断批次是五年内的呢*/
                )
                LEFT JOIN SDADA ON
                    T_ICIN1_1.Brand = SDADA.QuoBrand
                    AND T_ICIN1_1.Modle = SDADA.sno /*根据客户需求和品牌关联标准型号库，获取Tag*/
                WHERE U_ICIN1.DocEntry = @DocEntry
                AND U_ICIN1.ItemEntry IS NULL
                AND U_ICIN1.ItemLine IS NULL
                AND (U_ICIN1.LineNum = U_ICIN1.ItemId OR U_ICIN1.ItemId IS NULL) /*原始需求, LineNum 不等于 ItemId 的为关联型号 */
            ) ClientNeeds
            /*根据打标情况匹配出关联型号*/
            LEFT JOIN SDADA RelatedNeeds ON RelatedNeeds.TAG = ClientNeeds.DemandTag
            /*所有可选货源，包括有效期内的货源（包括最优货源）和已选择的货源*/
            LEFT JOIN (
                SELECT
                    AllQuote.U_QuoDate, /*报价日期*/
                    AllQuote.DocEntry, /*报价单编号*/
                    AllQuote.LineNum, /*报价单内部行号*/
                    AllQuote.U_Buyer, /*采购员编号*/
                    AllQuote.U_QuoBrand, /*报价品牌*/
                    AllQuote.U_QuoModle, /*报价型号*/
                    AllQuote.U_QuoQty, /*报价数量*/
                    AllQuote.U_QuoDelivery, /*采购报价交期*/
                    AllQuote.U_QuoYear, /*采购报价批次*/
                    AllQuote.U_QCDesc, /*采购报价质检标准*/
                    AllQuote.U_QuoPrice, /*报价价格*/
                    AllQuote.U_QuoLevel, /*供应商等级*/
                    AllQuote.U_QuoVatGroup, /*报价税率代码*/
                    AllQuote.U_QuoCurr, /*采购报价货币*/
                    AllQuote.U_Status, /*采购报价状态*/
                    AllQuote.U_OriginLine,
                    AllQuote.U_OriginEntry,
                    IIF(#selected.PriceAFVAT IS NOT NULL, 'Y', 'N') AS 'Checked', /*销售填写了价格表示选中该货源*/
                    #selected.PriceAFVAT AS 'PriceAFVAT', /*该货源的销售报价价格,已选择的货源销售报价价格要和货源绑定在一起*/
                    T_OUSI.UserName AS 'BuyerName', /*采购员姓名*/
                    BuyerDept.Name AS 'DeptName', /*采购部门名称,货源*/
                    #selected.IsSpare AS 'IsSpare', /*是否为备用货源*/
                    #selected.SuoQuantity AS 'SuoQuantity' /*选中货源销售报价数量*/
                FROM (
                    SELECT
                        U_QuoDate, /*报价日期*/
                        DocEntry, /*报价单编号*/
                        LineNum, /*报价单内部行号*/
                        U_Buyer, /*采购员编号*/
                        U_QuoBrand, /*报价品牌*/
                        U_QuoModle, /*报价型号*/
                        U_QuoQty, /*报价数量*/
                        U_QuoDelivery, /*采购报价交期*/
                        U_QuoYear, /*采购报价批次*/
                        U_QCDesc, /*采购报价质检标准*/
                        U_QuoPrice, /*报价价格*/
                        U_QuoLevel, /*供应商等级*/
                        U_QuoVatGroup, /*报价税率代码*/
                        U_Status, /*采购报价状态*/
                        U_QuoCurr, /*采购报价货币*/
                        U_OriginLine,
                        U_OriginEntry
                    FROM T_ICIN1
                    UNION ALL
                    SELECT
                        U_QuoDate, /*报价日期*/
                        DocEntry, /*报价单编号*/
                        LineNum, /*报价单内部行号*/
                        U_Buyer, /*采购员编号*/
                        U_QuoBrand, /*报价品牌*/
                        U_QuoModle, /*报价型号*/
                        U_QuoQty, /*报价数量*/
                        U_QuoDelivery, /*采购报价交期*/
                        U_QuoYear, /*采购报价批次*/
                        U_QCDesc, /*采购报价质检标准*/
                        U_QuoPrice, /*报价价格*/
                        U_QuoLevel, /*供应商等级*/
                        U_QuoVatGroup, /*报价税率代码*/
                        U_Status, /*采购报价状态*/
                        U_QuoCurr, /*采购报价货币*/
                        U_OriginLine,
                        U_OriginLine
                    FROM U_ICIN11
                ) AllQuote
                LEFT JOIN T_OUSI ON AllQuote.U_Buyer = T_OUSI.UserSign
                LEFT JOIN (
                    SELECT
                        DeptCode,
                        Name,
                        (
                            CASE
                                WHEN T_OCDP.Name = N'海外组' THEN 1
                                WHEN T_OCDP.Name = N'大中华组' THEN 1
                                WHEN T_OCDP.Name = N'亚洲组' THEN 2
                                WHEN T_OCDP.Name = N'欧洲组' THEN 2
                                WHEN T_OCDP.Name = N'北美组' THEN 2
                            END
                        ) AS 'Code'
                    FROM T_OCDP
                ) BuyerDept ON T_OUSI.DftDept = BuyerDept.DeptCode /*采购部门*/
                LEFT JOIN #selected ON
                    #selected.BaseEntry = AllQuote.DocEntry
                    AND #selected.BaseLine = AllQuote.LineNum /*已选择的货源*/
                WHERE (
                    (
                        /*有效货源*/
                        /*海外组、大中华组2天有效；亚洲组、欧洲组、北美组3天内有效*/
                        (BuyerDept.Code = 1 AND DateDiff(dd, AllQuote.U_QuoDate, getdate()) &lt;= @TwoDays) OR
                        (BuyerDept.Code = 2 AND DateDiff(dd, AllQuote.U_QuoDate, getdate()) &lt;= @ThreeDays)
                    )
                    /*或者是销售已选择的货源,填写报价价格并保存了客户需求与货源的对应关系*/
                    OR #selected.PriceAFVAT IS NOT NULL
                )
                AND (AllQuote.U_Status = 'Y') /*采购报价状态为已回复或已确认*/
                AND AllQuote.U_QuoModle IS NOT NULL  /*采购报价信息完整*/
                AND AllQuote.U_QuoPrice IS NOT NULL
            ) Available ON (
                RelatedNeeds.sno = Available.U_QuoModle
                AND RelatedNeeds.QuoBrand = Available.U_QuoBrand /*对应需求的型号和货源*/
                /*如果只需要对走采购报价的筛选货源则把下面的一句取消注释*/
                /*AND ClientNeeds.Status = 'B'*/
            )
            /*报价货源税率*/
            LEFT JOIN T_OVTG ON T_OVTG.Code = Available.U_QuoVatGroup
            /*货币汇率*/
            LEFT JOIN (
                SELECT
                    T_ORTT.Currency,
                    T_ORTT.Rate
                FROM (
                         SELECT
                             Currency,
                             MAX(RateDate) AS RateDate
                         FROM T_ORTT
                         GROUP BY Currency
                     ) T
                         LEFT JOIN T_ORTT ON T_ORTT.Currency = T.Currency AND T_ORTT.RateDate = T.RateDate
                UNION ALL
                SELECT
                    'RMB' AS 'Currency',
                    1.000000 AS 'Rate'
            ) ExchangeRate ON ExchangeRate.Currency = Available.U_QuoCurr
        ) T
        /*根据行号排序、最优货源在最上面*/
        ORDER BY T.LineNum, T.type DESC, T.U_Buyer, T.U_QuoDate DESC;

        DROP TABLE #best;
        DROP TABLE #selected;
    </select>
    <select id="selectQuotationTabList" resultType="com.lianchuangjie.lianchuangjie.vo.TabQuotationNeedsVO">
        SELECT
            U_ICIN1.Secrecy, /*是否保密*/
            U_ICIN1.Modle, /*需求型号*/
            U_ICIN1.Brand, /*需求品牌*/
            U_ICIN1.DemandQty, /*需求数量*/
            U_ICIN1.ECCN, /*ECCN*/
            U_ICIN1.Currency, /*货币*/
            T_ICIN.InquiryDate, /*询价日期*/
            T_ICIN.U_UserName, /*销售员姓名*/
            T_ICIN.U_DeptName, /*销售部门*/
            T_ICIN.U_CusGroupCode, /*客户性质名称*/
            T_ICIN.U_CusLevel, /*客户等级名称*/
            T_ICIN.U_DomainName, /*客户行业名称*/
            T_ICIN.U_DocCur, /*报价货币*/
            T_OVTG.Name AS 'U_VatName', /*税率文本*/
            U_ICIN1.Delivery, /*报价货期*/
            U_ICIN1.Status, /*价格类型*/
            U_ICIN1.LineRemark /*销售备注*/
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE U_ICIN1.Modle IN (
            SELECT SDADA_1.sno
            FROM SDADA SDADA_1
            WHERE SDADA_1.TAG IN (
                SELECT SDADA.TAG
                FROM SDADA
                WHERE SDADA.sno IN <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            )
        )
        AND U_ICIN1.Secrecy != 'Y' /*非保密*/
    </select>
    <select id="selectEnquiryTabList" resultType="com.lianchuangjie.lianchuangjie.vo.TabEnquiryNeedsVO">
        DECLARE @UserSign BIGINT
        DECLARE @DataPur NVARCHAR ( 10 ) /*All/Dept/self*/
        DECLARE @BaseFormID BIGINT /*视图编号*/
        DECLARE @PageSize INT
        DECLARE @CurrentPage INT
        SET @PageSize = ${sc.getSize} /*每页显示数量*/
        SET @CurrentPage = ${sc.getPage} /*当前页码*/
        SET @UserSign = ${sc.getUserSign}
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ) /*判断权限*/
        SELECT TOP (@PageSize) *
        FROM (
            SELECT
                ROW_NUMBER()OVER(ORDER BY T.InquiryDate DESC) AS ROWNUMBER,
                T.*
            FROM (
                /*权限内所有订单*/
                SELECT
                    U_ICIN1.Secrecy, /*是否保密*/
                    U_ICIN1.Modle, /*需求型号*/
                    U_ICIN1.Brand, /*需求品牌*/
                    U_ICIN1.DemandQty, /*需求数量*/
                    U_ICIN1.ECCN, /*ECCN*/
                    T_ICIN.CardName, /*客户名称*/
                    U_ICIN1.Currency, /*货币*/
                    T_ICIN.InquiryDate, /*询价日期*/
                    T_ICIN.U_UserName, /*销售员姓名*/
                    T_ICIN.U_DeptName, /*销售部门*/
                    T_ICIN.U_CusGroupCode, /*客户性质名称*/
                    T_ICIN.U_CusLevel, /*客户等级名称*/
                    T_ICIN.U_DomainName, /*客户行业名称*/
                    T_ICIN.U_DocCur, /*报价货币*/
                    T_OVTG.Name AS 'U_VatName', /*税率文本*/
                    U_ICIN1.PriceAfVAT, /*销售报价*/
                    U_ICIN1.Delivery, /*报价货期*/
                    U_ICIN1.LineRemark, /*销售备注*/
                    U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                )
                /*权限外-非保密订单*/
                UNION ALL
                SELECT
                    U_ICIN1.Secrecy, /*是否保密*/
                    U_ICIN1.Modle, /*需求型号*/
                    U_ICIN1.Brand, /*需求品牌*/
                    U_ICIN1.DemandQty, /*需求数量*/
                    U_ICIN1.ECCN, /*ECCN*/
                    '******' AS 'CardName', /*权限外客户名称不可见*/
                    U_ICIN1.Currency, /*货币*/
                    T_ICIN.InquiryDate, /*询价日期*/
                    T_ICIN.U_UserName, /*销售员姓名*/
                    T_ICIN.U_DeptName, /*销售部门*/
                    T_ICIN.U_CusGroupCode, /*客户性质名称*/
                    T_ICIN.U_CusLevel, /*客户等级名称*/
                    T_ICIN.U_DomainName, /*客户行业名称*/
                    T_ICIN.U_DocCur, /*报价货币*/
                    T_OVTG.Name AS 'U_VatName', /*税率文本*/
                    U_ICIN1.PriceAfVAT, /*销售报价*/
                    U_ICIN1.Delivery, /*报价货期*/
                    U_ICIN1.LineRemark, /*销售备注*/
                    U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE U_ICIN1.Secrecy = 'N'
                AND U_ICIN1.DocEntry NOT IN (
                    SELECT T_ICIN.DocEntry
                    FROM T_ICIN
                    WHERE (
                        @DataPur = 'ALL' /*可看所有*/
                        OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                        OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                    )
                )
            ) T
            WHERE T.Modle IN (
                SELECT SDADA_1.sno
                FROM SDADA SDADA_1
                WHERE SDADA_1.TAG IN (
                    SELECT SDADA.TAG
                    FROM SDADA
                    WHERE SDADA.sno IN<foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
                )
            )
        ) TT
        WHERE TT.ROWNUMBER > (@CurrentPage - 1) * @PageSize
        ORDER BY TT.InquiryDate DESC
    </select>
    <select id="countEnquiryTabList" resultType="java.lang.Integer">
        DECLARE @UserSign BIGINT
        DECLARE @DataPur NVARCHAR ( 10 ) /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT /*视图编号*/
        SET @UserSign = ${sc.getUserSign}
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ) /*判断权限*/
        SELECT COUNT(*)
        FROM (
            /*权限内所有订单*/
            SELECT U_ICIN1.*
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
            LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
            LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
            WHERE (
                @DataPur = 'ALL' /*可看所有*/
                OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
            )
            /*权限外-非保密订单*/
            UNION ALL
            SELECT U_ICIN1.*
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
            LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
            LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
            WHERE U_ICIN1.Secrecy = 'N'
            AND U_ICIN1.DocEntry NOT IN (
                SELECT T_ICIN.DocEntry
                FROM T_ICIN WHERE (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                )
            )
        ) T
        WHERE T.Modle IN (
            SELECT SDADA_1.sno
            FROM SDADA SDADA_1
            WHERE SDADA_1.TAG IN (
                SELECT SDADA.TAG
                FROM SDADA
                WHERE SDADA.sno IN <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            )
        )
    </select>
    <select id="selectStockPriceTabList" resultType="com.lianchuangjie.lianchuangjie.vo.TabStockPriceEnquiryVO">
        SELECT
            U_ICIN1.CheckINDateT, /*确认报价时间*/
            U_ICIN1.QuoModle, /*报价型号*/
            U_ICIN1.QuoBrand, /*报价品牌*/
            U_ICIN1.SuoQuantity, /*报价数量*/
            U_ICIN1.SuoYear, /*报价批次*/
            U_ICIN1.SuoDelivery, /*报价交期*/
            U_ICIN1.PriceAfVAT, /*报价单价*/
            T_OUSI.UserName, /*销售员姓名*/
            T_OCDP.Name AS 'DeptName', /*销售部门名称*/
            T_ICIN.U_CusGroupCode, /*客户性质*/
            T_ICIN.U_DocCur, /*币种*/
            T_OVTG.Rate AS 'VatRate' /*税率*/
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OUSI ON T_ICIN.OwnerCode = T_OUSI.UserSign
        LEFT JOIN T_OCDP ON T_OUSI.DftDept = T_OCDP.DeptCode
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE U_ICIN1.Modle IN (
            SELECT SDADA_1.sno
            FROM SDADA SDADA_1
            WHERE SDADA_1.TAG IN (
                SELECT SDADA.TAG
                FROM SDADA
                WHERE SDADA.sno IN <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            )
        )
        AND U_ICIN1.PriceAfVAT IS NOT NULL
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT COUNT(*) FROM U_ICIN1 WHERE DocEntry = #{DocEntry}
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.entity.EnquirySubEntity">
        SELECT * FROM U_ICIN1
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
    <select id="head" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportHeadVO" >
        SELECT
            DocEntry, /*编号*/
            U_SenderName, /*发件人姓名*/
            U_SenderTel, /*发件人电话*/
            U_RecipientName, /*收件人姓名*/
            U_RecipientTel, /*收件人电话*/
            U_FromCompany, /*报价公司抬头*/
            U_TransaPlace, /*交易地点*/
            U_FreightPayment, /*运费支付*/
            T_OVTG.Rate AS 'VatRate', /*税率*/
            U_PaymentMethod, /*付款方式*/
            T_ICIN.CardName, /*致客户名称*/
            ExpDate, /*有效期*/
            U_DocCur /*需求货币*/
        FROM T_ICIN
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE T_ICIN.DocEntry = #{sc.docEntry}
    </select>
    <select id="selectQuoteList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportItemVO">
        /*
         * 1. 查询标准报价单列表
         * 2. 选择多个货源时, 多个货源行号相同
         */
        SELECT *
        FROM (
            SELECT
                IIF(U_ICIN1.ItemLine IS NOT NULL, U_ICIN1.ItemLine, U_ICIN1.LineNum) AS 'LineNum',
                U_ICIN1.ItemLine,
                U_ICIN1.SuoQuantity,
                U_ICIN1.PriceAfVAT,
                U_ICIN1.SuoYear,
                U_ICIN1.SuoDelivery,
                U_ICIN1.LineRemark,
                U_ICIN1.PriceAfVAT *  U_ICIN1.SuoQuantity AS 'Amount',
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.QuoModle, /*报价型号*/
                U_ICIN1.QuoBrand, /*报价品牌*/
                U_ICIN1.Brand /*需求品牌*/
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON U_ICIN1.DocEntry = T_ICIN.DocEntry
            WHERE U_ICIN1.DocEntry = #{sc.docEntry}
            AND T_ICIN.OwnerCode = #{sc.ownerCode}
            AND U_ICIN1.ItemId = U_ICIN1.LineNum /*不是关联型号*/
        ) T
        ORDER BY T.LineNum
    </select>
    <select id="selectExportList" resultType="com.lianchuangjie.lianchuangjie.vo.EnquiryExportItemVO">
        /*
         * 1. 销售报价单导出列表
         * 2. 对同一条需求的多个货源, 只显示第一条需求的行号
         * 3. 不导出备用货源
         * 4. 不导出关联型号
         * 5. 重新生成行号
         */
        SELECT
            IIF(T.ItemLine IS NOT NULL, NULL, ROW_NUMBER() OVER ( ORDER BY T.LineNum )) AS 'LineNum', /*重新生成行号*/
            T.Modle,
            T.Brand,
            T.QuoModle,
            T.QuoBrand,
            T.SuoQuantity,
            T.SuoDelivery,
            T.SuoYear,
            T.LineRemark,
            T.PriceAfVAT,
            T.Amount
        FROM (
            SELECT
                IIF(U_ICIN1.ItemLine IS NOT NULL, U_ICIN1.ItemLine, U_ICIN1.LineNum) AS 'LineNum', /*行号*/
                U_ICIN1.ItemLine, /*原始需求行号*/
                U_ICIN1.SuoQuantity, /*报价数量*/
                U_ICIN1.PriceAfVAT, /*销售报价价格*/
                U_ICIN1.SuoYear, /*报价批次*/
                U_ICIN1.SuoDelivery, /*报价交期*/
                U_ICIN1.LineRemark, /*销售备注*/
                U_ICIN1.PriceAfVAT *  U_ICIN1.SuoQuantity AS 'Amount', /*金额*/
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.QuoModle, /*报价型号*/
                U_ICIN1.QuoBrand, /*报价品牌*/
                U_ICIN1.Brand /*需求品牌*/
            FROM U_ICIN1
            LEFT JOIN T_ICIN ON U_ICIN1.DocEntry = T_ICIN.DocEntry
            WHERE U_ICIN1.DocEntry = #{sc.docEntry}
            AND T_ICIN.OwnerCode = #{sc.ownerCode}
            AND U_ICIN1.IsSpare != 'Y' /*不是备用货源*/
            AND U_ICIN1.ItemId = U_ICIN1.LineNum /*不是关联型号*/
        ) T
        ORDER BY T.LineNum
    </select>
</mapper>
