<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.PurchaseOrderSubMapper">

    <select id="selectQuotationTabList" resultType="com.lianchuangjie.lianchuangjie.vo.TabQuotationPurchaseOrderVO">

    </select>
    <select id="selectEnquiryTabList" resultType="com.lianchuangjie.lianchuangjie.vo.TabEnquiryPurchaseOrderVO">
        SELECT
        T_OPOR.DocDate, /*订单日期*/
        T_OUSI.UserName, /*采购员*/
        T_OCDP.Name AS 'DeptName', /*采购部门*/
        T_OPOR.U_GroupName, /*供应商类型*/
        T_OPOR.U_CusLevel, /*供应商等级*/
        T_OPOR.U_OrderType, /*订单类型*/
        T_OPOR1.Dscription, /*型号*/
        T_OPOR1.U_ECCN, /*ECC*/
        T_OPOR1.U_Brand, /*品牌*/
        T_OPOR1.U_Batch, /*批次*/
        T_OPOR1.Quantity, /*数量*/
        T_OPOR1.OpenQty, /*未到数量*/
        T_OPOR.DocCur, /*货币*/
        T_OPOR1.Price, /*单价*/
        T_OVTG.Name AS 'U_VatName', /*税率文本*/
        T_OPOR1.ShipDate, /*交期*/
        T_OPOR1.U_Remark, /*备注*/
        T_OPOR1.LineStatus /*执行情况*/
        FROM T_OPOR1
        LEFT JOIN T_OPOR ON T_OPOR.DocEntry = T_OPOR1.DocEntry
        LEFT JOIN T_OUSI ON T_OPOR.OwnerCode = T_OUSI.UserSign
        LEFT JOIN T_OCDP ON T_OPOR.DeptCode = T_OCDP.DeptCode
        LEFT JOIN T_OVTG ON T_OPOR1.U_VatGroup = T_OVTG.Code
        WHERE T_OPOR1.Dscription IN (
        SELECT SDADA_1.sno FROM SDADA SDADA_1 WHERE SDADA_1.TAG IN (
        SELECT SDADA.TAG FROM SDADA WHERE SDADA.sno IN
        <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">
            '${item}'
        </foreach>
        )
        )
    </select>
</mapper>
