<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.QuotationMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.QuotationVO">
        SELECT
        U_ICIN1.*,
        U_ICIN1.ECCN AS 'U_ECCN', /*ECCN*/
        U_ICIN1.KeyPoint AS 'U_KeyPoint', /*标记为重点询价*/
        U_ICIN1.KeyRemark AS 'U_KeyRemark', /*重点报价说明*/
        U_ICIN1.KeyUser AS 'U_KeyUser', /*标记重点报价用户编号*/
        U_ICIN1.PrePrice AS 'U_PrePrice', /*参考价格*/
        U_ICIN1.Secrecy AS 'U_Secrecy', /*是否保密*/
        U_ICIN1.Delivery AS 'U_Delivery',
        T_ICIN.InquiryDate AS 'DemandDate',
        T_ICIN.U_CusIndustries AS 'U_Industries', /*客户行业领域代码*/
        T_ICIN.U_CusLevel AS 'U_U_Level', /*客户等级名称*/
        T_ICIN.U_CusGroupCode AS 'U_GroupCode', /*客户性质名称*/
        T_ICIN.U_DeptName, /*销售部门名称*/
        T_ICIN.U_UserName, /*销售员姓名*/
        T_ICIN.U_DocCur AS 'U_Currency', /*需求货币*/
        T_ICIN.U_VatGroup,
        T_ICIN.U_ShortCode,
        fp.UnableQuote, /*无法报价*/
        fp.U_BaseLine, /*对应询价单内部编号*/
        fp.U_BaseEntry, /*对应询价单主表编号*/
        fp.U_Status, /*报价状态*/
        fp.U_QuoBrand, /*采购报价品牌*/
        fp.U_QuoModle, /*采购报价型号*/
        fp.U_QuoQty, /*采购报价数量*/
        fp.U_CardName, /*供应商名称*/
        fp.U_QuoPrice, /*供方报价*/
        fp.U_QuoYear, /*供方批次*/
        fp.U_QuoRemark, /*供方备注*/
        fp.U_Remark1, /*采购备注*/
        fp.StanPackage, /*标准包装*/
        fp.MinQty, /*起订量*/
        fp.ContPerson, /*联系人*/
        fp.ContEmail, /*邮箱*/
        fp.ContPhone, /*电话*/
        fp.ContAddress, /*地址*/
        fp.U_QuoLevel, /*供方评级*/
        fp.U_QuoVatGroup,
        fp.U_QuoCurr,
        U_CUR4.Level AS 'U_SaleLevel', /*销售员等级*/
        T_OVTG.Rate AS 'U_QuoVatRate'
        FROM
        U_ICIN1
        LEFT JOIN (
        SELECT
        BC.*
        FROM
        ( SELECT DocEntry, U_BaseLine, MAX ( LineNum ) AS LineNum FROM T_ICIN1 GROUP BY U_BaseLine, DocEntry ) AC
        LEFT JOIN T_ICIN1 BC ON AC.DocEntry = BC.DocEntry
        AND AC.LineNum = BC.LineNum
        WHERE
        U_Buyer = #{UserSign}
        ) fp ON U_ICIN1.DocEntry = fp.DocEntry AND U_ICIN1.LineNum = fp.U_BaseLine
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OVTG ON fp.U_QuoVatGroup = T_OVTG.Code /*税率表*/
        LEFT JOIN U_CUR4 ON T_ICIN.UserSign = U_CUR4.OwnerCode /*销售员等级表*/
        <where>
            ${ew.getSqlSegment()}
            AND ',' + U_ICIN1.Buyers + ',' LIKE CONCAT('%,', #{UserSign} ,',%')
        </where>
        ORDER BY U_ICIN1.DocEntry DESC,
        U_ICIN1.LineNum ASC
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.entity.QuotationEntity">
        SELECT * FROM T_ICIN1
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
    <select id="selectMyList" resultType="com.lianchuangjie.lianchuangjie.vo.TabMyQuotationVO">
        SELECT
        T_ICIN1.*,
        T_OUSI.UserName AS 'U_BuyerName', /*采购员姓名*/
        T_OCDP.Name AS 'DftDeptName' /*采购部门*/
        FROM T_ICIN1
        LEFT JOIN T_OUSI ON T_ICIN1.U_Buyer = T_OUSI.UserSign /*采购员信息*/
        LEFT JOIN T_OCDP ON T_OUSI.DftDept = T_OCDP.DeptCode /*公司部门*/
        WHERE T_ICIN1.U_Buyer = #{UserSign}
        AND T_ICIN1.Modle IN (
        SELECT SDADA_2.sno
        FROM SDADA SDADA_1
        LEFT JOIN SDADA SDADA_2 ON SDADA_2.TAG = SDADA_1.TAG
        WHERE SDADA_1.sno IN
        <foreach collection="modleList " item="item" open="(" separator="," close=")" index="index">
            '${item}'
        </foreach>
        )
        AND T_ICIN1.U_QuoDate IS NOT NULL
    </select>
</mapper>
