<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.QuotationMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.Quotation.QuotationVO">
        SELECT
            fp.DocEntry, /*报价单编号*/
            fp.LineNum, /*报价单行号*/
            U_ICIN1.DocEntry AS 'U_BaseEntry', /*关联询价单编号*/
            U_ICIN1.LineNum AS 'U_BaseLine', /*关联询价单行号*/
            U_ICIN1.ItemId,
            U_ICIN1.Modle, /*需求型号*/
            U_ICIN1.Brand, /*需求品牌*/
            U_ICIN1.DemandQty, /*需求数量*/
            U_ICIN1.Package, /*需求封装*/
            U_ICIN1.Year, /*需求批次*/
            U_ICIN1.ECCN AS 'U_ECCN', /*ECCN*/
            IIF(fp.U_KeyPoint = 'Y', 'Y', U_ICIN1.KeyPoint) AS 'U_KeyPoint', /*标记为重点询价*/
            IIF(fp.U_KeyPoint = 'Y', fp.U_KeyRemark, U_ICIN1.KeyRemark) AS 'U_KeyRemark', /*重点报价说明*/
            U_ICIN1.KeyUser AS 'U_KeyUser', /*标记重点报价用户编号*/
            U_ICIN1.PrePrice AS 'U_PrePrice', /*参考价格*/
            U_ICIN1.Secrecy AS 'U_Secrecy', /*是否保密*/
            U_ICIN1.Delivery AS 'U_Delivery',
            T_ICIN.InquiryDate AS 'DemandDate',
            T_ICIN.U_Industries AS 'U_Industries', /*客户行业领域代码*/
            T_ICIN.U_CusLevel AS 'U_U_Level', /*客户等级名称*/
            T_ICIN.U_CusGroupCode AS 'U_GroupCode', /*客户性质名称*/
            T_ICIN.U_DeptName, /*销售部门名称*/
            T_ICIN.U_UserName, /*销售员姓名*/
            T_ICIN.OwnerCode, /*销售员编号*/
            T_ICIN.U_DocCur AS 'U_Currency', /*需求货币*/
            T_ICIN.U_VatGroup,
            T_ICIN.U_ShortCode,
            fp.U_Status, /*报价状态*/
            IIF(fp.U_QuoBrand IS NOT NULL, fp.U_QuoBrand, U_ICIN1.Brand) AS 'U_QuoBrand', /*采购报价品牌*/
            IIF(fp.U_QuoModle IS NOT NULL, fp.U_QuoModle, U_ICIN1.Modle) AS 'U_QuoModle', /*采购报价型号*/
            IIF(fp.U_QuoQty IS NOT NULL, fp.U_QuoQty, U_ICIN1.DemandQty) AS 'U_QuoQty', /*采购报价数量*/
            fp.U_CardName, /*供应商名称*/
            fp.U_CardCode, /*供应商代码*/
            fp.U_QuoGroupCode, /*供应商性质*/
            fp.U_QuoPrice, /*供方报价*/
            fp.U_QuoYear, /*供方批次*/
            fp.U_QuoRemark, /*供方备注*/
            fp.U_Remark1, /*采购备注*/
            fp.U_StanPackage, /*标准包装*/
            fp.U_MinQty, /*起订量*/
            fp.U_ContPerson, /*联系人*/
            fp.U_ContEmail, /*邮箱*/
            fp.U_ContPhone, /*电话*/
            fp.U_ContAddress, /*地址*/
            fp.U_QuoLevel, /*供方评级*/
            fp.U_QuoVatGroup, /*税率代码*/
            fp.U_QuoCurr, /*币种*/
            (fp.U_QuoCurr + '+' + fp.U_QuoVatGroup + '+' + CAST(CAST(T_OVTG.Rate AS FLOAT) AS VARCHAR)) AS 'CurVat', /*税率+币种*/
            fp.U_NoPrice, /*无法报价*/
            fp.U_QuoDelivery, /*报价交期*/
            U_CUR4.Level AS 'U_SaleLevel', /*销售员等级*/
            T_OVTG.Rate AS 'U_QuoVatRate' /*采购报价税率*/
        FROM U_ICIN1
        /*采购最近已保存或已回复一条*/
        LEFT JOIN (
            SELECT BC.*
            FROM (
                SELECT DocEntry, U_BaseLine, MAX ( LineNum ) AS LineNum
                FROM (
                    SELECT
                        DocEntry,
                        LineNum,
                        U_BaseLine
                    FROM T_ICIN1
                    UNION ALL
                    SELECT
                        DocEntry,
                        LineNum,
                        U_BaseLine
                    FROM U_ICIN11
                ) AllQuote
                GROUP BY U_BaseLine, DocEntry
            ) AC
            LEFT JOIN T_ICIN1 BC ON AC.DocEntry = BC.DocEntry AND AC.LineNum = BC.LineNum
            WHERE U_Buyer = #{sc.uBuyer}
        ) fp ON U_ICIN1.DocEntry = fp.DocEntry AND U_ICIN1.LineNum = fp.U_BaseLine
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry /*需求主表*/
        LEFT JOIN T_OVTG ON fp.U_QuoVatGroup = T_OVTG.Code /*税率表*/
        LEFT JOIN U_CUR4 ON T_ICIN.UserSign = U_CUR4.OwnerCode /*销售员等级表*/
        <where>
            1 = 1
            <if test="sc.modle">
                AND U_ICIN1.Modle LIKE CONCAT('%', #{sc.modle},'%')
            </if>
            <if test="sc.brand">
                AND U_ICIN1.Brand LIKE CONCAT('%', #{sc.brand},'%')
            </if>
            <if test="sc.uStatus">
                AND fp.U_Status = #{sc.uStatus}
            </if>
            <if test="sc.uDeptCode">
                AND T_ICIN.DeptCode = #{sc.uDeptCode}
            </if>
            <if test="sc.ownerCode">
                AND T_ICIN.OwnerCode = #{sc.ownerCode}
            </if>
            <if test="sc.inquiryDateStart">
                AND T_ICIN.InquiryDate &gt;= #{sc.inquiryDateStart}
            </if>
            <if test="sc.inquiryDateEnd">
                AND T_ICIN.InquiryDate &lt;= #{sc.inquiryDateEnd}
            </if>
            AND ',' + U_ICIN1.Buyer + ',' LIKE CONCAT('%,', #{sc.uBuyer} ,',%')
        </where>
        ORDER BY
            U_ICIN1.DocEntry DESC,
            U_ICIN1.LineNum ASC
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.entity.QuotationEntity">
        SELECT * FROM T_ICIN1
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
    <select id="count" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT COUNT(*) FROM (
            SELECT DocEntry FROM T_ICIN1
            UNION ALL
            SELECT DocEntry FROM U_ICIN11
        ) T
        WHERE T.DocEntry = #{DocEntry}
    </select>
</mapper>
