<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.SdadaMapper">
    <select id="selectContain" resultType="com.lianchuangjie.lianchuangjie.vo.SdadaVO" parameterType="java.lang.String">
        DECLARE @sno AS VARCHAR(255);
        SET @sno = #{sno};
        SELECT *
        FROM SDADA
        WHERE sno IN (SELECT sno FROM SDADA WHERE sno LIKE '%' + @sno + '%');
    </select>
    <select id="selectRelated" resultType="com.lianchuangjie.lianchuangjie.vo.SdadaVO" parameterType="java.lang.String">
        DECLARE @sno AS VARCHAR(255);
        SET @sno = #{sno};
        SELECT
            *
        FROM SDADA SDADA_1
        WHERE SDADA_1.TAG IN (
            SELECT SDADA.TAG FROM SDADA WHERE SDADA.sno = @sno
        )
    </select>
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.SdadaVO">
        SELECT *
        FROM SDADA
        <where>
            1=1
            <if test="sc.sno != null">
                AND SDADA.sno = #{sc.sno}
            </if>
            <if test="sc.quoBrand != null">
                AND SDADA.QuoBrand = #{sc.quoBrand}
            </if>
            <if test="sc.frgnName != null">
                AND SDADA.FrngName = #{sc.frgnName}
            </if>
        </where>
    </select>
</mapper>
