<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.SearchQueryMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.SearchQueryVO">
        SELECT *
        FROM SDADA
        WHERE TAG IN (
            SELECT *
            FROM SDADA
            WHERE sno like CONCAT('%', #{sc.modle}, '%')
        )
    </select>
</mapper>