<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.SearchQueryMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.SearchQueryVO">
        SELECT
            SDADA.sno,
            SDADA.msl_new,
            SDADA.spq,
            SDADA.ECCN,
            SDADA.QuoBrand,
            StockQuantity.U_Batch, /*批次*/
            StockQuantity.U_LockQty, /*锁货数量*/
            StockQuantity.Quantity,
            StockQuantity.AvaQuantity, /*可用数量*/
            KCPrice.price_2w,
            KCPrice.price_2w_5w,
            KCPrice.price_5w_10w,
            KCPrice.price_10w,
            KCPrice.StockDays, /*库存天数*/
            KCPrice.InDate /*入库时间*/
        FROM SDADA
        LEFT JOIN (
            /*库存信息*/
            SELECT
                T_OBTN.U_Batch, /*批次*/
                T.Quantity, /*库存数量*/
                T_OBTN.U_LockQty, /*锁货数量*/
                T_OBTN.ItemName, /*型号*/
                SUM(T.Quantity - T_OBTN.U_LockQty) AS AvaQuantity /*可用数量*/
            FROM (
                     SELECT
                         MdAbsEntry,
                         SUM(Quantity) AS Quantity
                     FROM T_OBTQ GROUP BY MdAbsEntry
                 ) T
            INNER JOIN T_OBTN ON T.MdAbsEntry = T_OBTN.AbsEntry
            GROUP BY T_OBTN.ItemName, T_OBTN.U_Batch, T.Quantity, T_OBTN.U_LockQty
        ) StockQuantity ON StockQuantity.ItemName = SDADA.sno
        /*库存定价*/
        LEFT JOIN (
            SELECT
                kc_now.price_2w,
                kc_now.price_2w_5w,
                kc_now.price_5w_10w,
                kc_now.price_10w,
                kc_now.ItemName,
                kc_now.U_Batch,
                kc_now.StockDays,
                kc_now.InDate
            FROM kc_now
            LEFT JOIN (
                SELECT MAX(DocDate) AS DocDate, Batch, ItemName FROM kc_now GROUP BY DocDate, Batch, ItemName
            ) Latest ON Latest.ItemName = kc_now.ItemName AND Latest.Batch = kc_now.Batch AND Latest.DocDate = kc_now.DocDate
        ) KCPrice ON KCPrice.ItemName = SDADA.sno AND KCPrice.U_Batch = StockQuantity.U_Batch
        WHERE SDADA.TAG IN (
            /*匹配关联型号*/
            SELECT TAG
            FROM SDADA
            WHERE sno like CONCAT('%', #{sc.modle}, '%')
        )
    </select>
</mapper>