<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.VatGroupMapper">

    <select id="queryByType" resultType="com.lianchuangjie.lianchuangjie.vo.VatGroupVO">
        SELECT *
        FROM T_OVTG
        <if test="Type != null">
            WHERE Type = #{Type}
        </if>

    </select>
</mapper>
