<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.Tab.TabClientNeedsMapper">
    <select id="selectSearchTabList" resultType="com.lianchuangjie.lianchuangjie.vo.Search.TabSearchNeedsVO">
        DECLARE @UserSign BIGINT
        DECLARE @DataPur NVARCHAR ( 10 ) /*All/Dept/self*/
        DECLARE @BaseFormID BIGINT /*视图编号*/
        DECLARE @PageSize INT
        DECLARE @CurrentPage INT
        SET @PageSize = ${sc.size} /*每页显示数量*/
        SET @CurrentPage = ${sc.page} /*当前页码*/
        SET @UserSign = ${sc.userSign}
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ) /*判断权限*/
        SELECT TOP (@PageSize) *
        FROM (
            SELECT
                ROW_NUMBER()OVER(ORDER BY T.InquiryDate DESC) AS ROWNUMBER,
                T.*
            FROM (
                /*权限内所有订单*/
                SELECT
                    U_ICIN1.Secrecy, /*是否保密*/
                    U_ICIN1.Modle, /*需求型号*/
                    U_ICIN1.Brand, /*需求品牌*/
                    U_ICIN1.DemandQty, /*需求数量*/
                    U_ICIN1.ECCN, /*ECCN*/
                    T_ICIN.CardName, /*客户名称*/
                    U_ICIN1.Currency, /*货币*/
                    T_ICIN.InquiryDate, /*询价日期*/
                    T_ICIN.U_UserName, /*销售员姓名*/
                    T_ICIN.U_DeptName, /*销售部门*/
                    T_ICIN.U_CusGroupCode, /*客户性质名称*/
                    T_ICIN.U_CusLevel, /*客户等级名称*/
                    T_ICIN.U_DomainName, /*客户行业名称*/
                    T_ICIN.U_DocCur, /*报价货币*/
                    T_OVTG.Name AS 'U_VatName', /*税率文本*/
                    U_ICIN1.PriceAfVAT, /*销售报价*/
                    U_ICIN1.Delivery, /*报价货期*/
                    U_ICIN1.LineRemark, /*销售备注*/
                    U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                )
                /*权限外-非保密订单*/
                UNION ALL
                SELECT
                U_ICIN1.Secrecy, /*是否保密*/
                U_ICIN1.Modle, /*需求型号*/
                U_ICIN1.Brand, /*需求品牌*/
                U_ICIN1.DemandQty, /*需求数量*/
                U_ICIN1.ECCN, /*ECCN*/
                '******' AS 'CardName', /*权限外客户名称不可见*/
                U_ICIN1.Currency, /*货币*/
                T_ICIN.InquiryDate, /*询价日期*/
                T_ICIN.U_UserName, /*销售员姓名*/
                T_ICIN.U_DeptName, /*销售部门*/
                T_ICIN.U_CusGroupCode, /*客户性质名称*/
                T_ICIN.U_CusLevel, /*客户等级名称*/
                T_ICIN.U_DomainName, /*客户行业名称*/
                T_ICIN.U_DocCur, /*报价货币*/
                T_OVTG.Name AS 'U_VatName', /*税率文本*/
                U_ICIN1.PriceAfVAT, /*销售报价*/
                U_ICIN1.Delivery, /*报价货期*/
                U_ICIN1.LineRemark, /*销售备注*/
                U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE U_ICIN1.Secrecy = 'N'
                AND U_ICIN1.DocEntry NOT IN (
                    SELECT T_ICIN.DocEntry
                    FROM T_ICIN
                    WHERE (
                        @DataPur = 'ALL' /*可看所有*/
                        OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                        OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                    )
                )
            ) T
            WHERE T.Modle IN (
                SELECT SDADA_1.sno
                FROM SDADA SDADA_1
                WHERE SDADA_1.TAG IN (
                    SELECT SDADA.TAG
                    FROM SDADA
                    WHERE SDADA.sno IN
                    <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
                )
            )
        ) TT
        WHERE TT.ROWNUMBER > (@CurrentPage - 1) * @PageSize
        ORDER BY TT.InquiryDate DESC
    </select>
    <select id="selectEnquiryTabList" resultType="com.lianchuangjie.lianchuangjie.vo.Enquiry.TabEnquiryNeedsVO">
        /*
         * 销售报价页面-客户需求Tab
         */
        DECLARE @UserSign BIGINT
        DECLARE @DataPur NVARCHAR ( 10 ) /*All/Dept/self*/
        DECLARE @BaseFormID BIGINT /*视图编号*/
        DECLARE @PageSize INT
        DECLARE @CurrentPage INT
        SET @PageSize = ${sc.size} /*每页显示数量*/
        SET @CurrentPage = ${sc.page} /*当前页码*/
        SET @UserSign = ${sc.userSign}
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ) /*判断权限*/
        SELECT TOP (@PageSize) *
        FROM (
            SELECT
            ROW_NUMBER()OVER(ORDER BY T.InquiryDate DESC) AS ROWNUMBER,
            T.*
            FROM (
                /*权限内所有订单*/
                SELECT
                    U_ICIN1.Secrecy, /*是否保密*/
                    U_ICIN1.Modle, /*需求型号*/
                    U_ICIN1.Brand, /*需求品牌*/
                    U_ICIN1.DemandQty, /*需求数量*/
                    U_ICIN1.ECCN, /*ECCN*/
                    T_ICIN.CardName, /*客户名称*/
                    U_ICIN1.Currency, /*货币*/
                    T_ICIN.InquiryDate, /*询价日期*/
                    T_ICIN.U_UserName, /*销售员姓名*/
                    T_ICIN.U_DeptName, /*销售部门*/
                    T_ICIN.U_CusGroupCode, /*客户性质名称*/
                    T_ICIN.U_CusLevel, /*客户等级名称*/
                    T_ICIN.U_DomainName, /*客户行业名称*/
                    T_ICIN.U_DocCur, /*报价货币*/
                    T_OVTG.Name AS 'U_VatName', /*税率文本*/
                    U_ICIN1.PriceAfVAT, /*销售报价*/
                    U_ICIN1.SuoDelivery, /*报价货期*/
                    U_ICIN1.LineRemark, /*销售备注*/
                    U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE (
                    @DataPur = 'ALL' /*可看所有*/
                    OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                    OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                )
                /*权限外-非保密订单*/
                UNION ALL
                SELECT
                    U_ICIN1.Secrecy, /*是否保密*/
                    U_ICIN1.Modle, /*需求型号*/
                    U_ICIN1.Brand, /*需求品牌*/
                    U_ICIN1.DemandQty, /*需求数量*/
                    U_ICIN1.ECCN, /*ECCN*/
                    '******' AS 'CardName', /*权限外客户名称不可见*/
                    U_ICIN1.Currency, /*货币*/
                    T_ICIN.InquiryDate, /*询价日期*/
                    T_ICIN.U_UserName, /*销售员姓名*/
                    T_ICIN.U_DeptName, /*销售部门*/
                    T_ICIN.U_CusGroupCode, /*客户性质名称*/
                    T_ICIN.U_CusLevel, /*客户等级名称*/
                    T_ICIN.U_DomainName, /*客户行业名称*/
                    T_ICIN.U_DocCur, /*报价货币*/
                    T_OVTG.Name AS 'U_VatName', /*税率文本*/
                    U_ICIN1.PriceAfVAT, /*销售报价*/
                    U_ICIN1.SuoDelivery, /*报价货期*/
                    U_ICIN1.LineRemark, /*销售备注*/
                    U_ICIN1.Status /*价格类型*/
                FROM U_ICIN1
                LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
                LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
                LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
                WHERE U_ICIN1.Secrecy = 'N'
                AND U_ICIN1.DocEntry NOT IN (
                    SELECT T_ICIN.DocEntry
                    FROM T_ICIN
                    WHERE (
                        @DataPur = 'ALL' /*可看所有*/
                        OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
                        OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
                    )
                )
            ) T
            WHERE T.Modle IN (
                SELECT SDADA_1.sno
                FROM SDADA SDADA_1
                WHERE SDADA_1.TAG IN (
                    SELECT SDADA.TAG
                    FROM SDADA
                    WHERE SDADA.sno = #{sc.modle}
                )
            )
        ) TT
        WHERE TT.ROWNUMBER > (@CurrentPage - 1) * @PageSize
        ORDER BY TT.InquiryDate DESC
    </select>
    <select id="countEnquiryTabList" resultType="java.lang.Integer">
        DECLARE @UserSign BIGINT
        DECLARE @DataPur NVARCHAR ( 10 ) /*All/Dept/selft*/
        DECLARE @BaseFormID BIGINT /*视图编号*/
        SET @UserSign = ${sc.userSign}
        SELECT TOP (1) @BaseFormID = TransType FROM T_ICIN WHERE TransType IS NOT NULL /*单据类型*/
        SELECT @DataPur = [dbo].[UF_DataPurview] ( @UserSign, @BaseFormID ) /*判断权限*/
        SELECT COUNT(*)
        FROM (
        /*权限内所有订单*/
        SELECT U_ICIN1.*
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
        WHERE (
        @DataPur = 'ALL' /*可看所有*/
        OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
        OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
        )
        /*权限外-非保密订单*/
        UNION ALL
        SELECT U_ICIN1.*
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        LEFT JOIN (SELECT DeptCode FROM T_OUDL WHERE UserSign = @UserSign) T3 ON T_ICIN.DeptCode = T3.DeptCode
        WHERE U_ICIN1.Secrecy = 'N'
        AND U_ICIN1.DocEntry NOT IN (
        SELECT T_ICIN.DocEntry
        FROM T_ICIN WHERE (
        @DataPur = 'ALL' /*可看所有*/
        OR (@DataPur = 'Dept' AND ISNULL(T3.DeptCode, '') != '') /*判断当前用户可看本部门数据，如部门主任*/
        OR (@DataPur = 'Self' AND T_ICIN.UserSign = @UserSign) /*销售员本人*/
        )
        )
        ) T
        WHERE T.Modle IN (
        SELECT SDADA_1.sno
        FROM SDADA SDADA_1
        WHERE SDADA_1.TAG IN (
        SELECT SDADA.TAG
        FROM SDADA
        WHERE SDADA.sno IN
        <foreach collection="sc.modleList " item="item" open="(" separator="," close=")" index="index">'${item}'
        </foreach>
        )
        )
    </select>
    <select id="selectQuotationTabList"
            resultType="com.lianchuangjie.lianchuangjie.vo.Quotation.TabQuotationNeedsVO">
        SELECT
            U_ICIN1.DocEntry, /*询价单编号*/
            U_ICIN1.LineNum, /*询价单行号*/
            T_ICIN.InquiryDate, /*询价时间*/
            U_ICIN1.Modle, /*需求型号*/
            U_ICIN1.Brand, /*需求品牌*/
            U_ICIN1.DemandQty, /*需求数量*/
            U_ICIN1.ECCN, /*ECCN*/
            U_ICIN1.SuoYear, /*报价批次*/
            T_ICIN.U_VatGroup, /*税率*/
            U_ICIN1.Secrecy, /*是否保密*/
            U_ICIN1.PriceAfVAT, /*报价单价*/
            U_ICIN1.SuoDelivery, /*报价交期*/
            T_OUSI.UserName AS 'U_UserName', /*销售员姓名*/
            T_OCDP.Name AS 'U_DeptName', /*销售部门名称*/
            T_ICIN.U_CusGroupCode, /*客户性质*/
            T_ICIN.U_CusLevel, /*客户等级*/
            T_ICIN.U_DomainName, /*客户行业领域*/
            T_ICIN.U_DocCur, /*币种*/
            T_OVTG.Rate AS 'U_VatRate', /*税率税点*/
            T_OVTG.Name AS 'U_VatName' /*税率名称*/
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OUSI ON T_ICIN.OwnerCode = T_OUSI.UserSign
        LEFT JOIN T_OCDP ON T_OUSI.DftDept = T_OCDP.DeptCode
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE U_ICIN1.Modle IN (
            SELECT SDADA_1.sno
            FROM SDADA SDADA_1
            WHERE SDADA_1.TAG IN (
                SELECT SDADA.TAG
                FROM SDADA
                WHERE SDADA.sno = #{sc.modle}
            )
        )
    </select>
    <select id="selectStockPriceTabList"
            resultType="com.lianchuangjie.lianchuangjie.vo.StockPrice.TabStockPriceNeedsVO">
        SELECT
            U_ICIN1.DocEntry, /*询价单编号*/
            U_ICIN1.LineNum, /*询价单行号*/
            T_ICIN.InquiryDate, /*询价时间*/
            U_ICIN1.Modle, /*需求型号*/
            U_ICIN1.Brand, /*需求品牌*/
            U_ICIN1.DemandQty, /*需求数量*/
            U_ICIN1.ECCN, /*ECCN*/
            U_ICIN1.SuoYear, /*报价批次*/
            T_ICIN.U_VatGroup, /*税率*/
            U_ICIN1.Secrecy, /*是否保密*/
            U_ICIN1.PriceAfVAT, /*报价单价*/
            U_ICIN1.SuoDelivery, /*报价交期*/
            T_OUSI.UserName AS 'U_UserName', /*销售员姓名*/
            T_OCDP.Name AS 'U_DeptName', /*销售部门名称*/
            T_ICIN.U_CusGroupCode, /*客户性质*/
            T_ICIN.U_CusLevel, /*客户等级*/
            T_ICIN.U_DomainName, /*客户行业领域*/
            T_ICIN.U_DocCur, /*币种*/
            T_OVTG.Rate AS 'U_VatRate', /*税率税点*/
            T_OVTG.Name AS 'U_VatName' /*税率名称*/
        FROM U_ICIN1
        LEFT JOIN T_ICIN ON T_ICIN.DocEntry = U_ICIN1.DocEntry
        LEFT JOIN T_OUSI ON T_ICIN.OwnerCode = T_OUSI.UserSign
        LEFT JOIN T_OCDP ON T_OUSI.DftDept = T_OCDP.DeptCode
        LEFT JOIN T_OVTG ON T_ICIN.U_VatGroup = T_OVTG.Code
        WHERE U_ICIN1.Modle IN (
            SELECT SDADA_1.sno
            FROM SDADA SDADA_1
            WHERE SDADA_1.TAG IN (
                SELECT SDADA.TAG
                FROM SDADA
                WHERE SDADA.sno = #{sc.modle}
            )
        )
        AND U_ICIN1.PriceAfVAT IS NOT NULL
    </select>
</mapper>
