<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.CurVat.CurVatConfMapper">

    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.CurVat.CurVatConfVO">
        SELECT
            U_VCCG.*,
            T_OVTG.Rate AS 'VatRate',
            T_OVTG.Type,
            (U_VCCG.Currency + '+' + U_VCCG.VatGroup + '+' + LTRIM(RTRIM(CONVERT(VARCHAR, CAST(T_OVTG.Rate AS FLOAT))))) AS 'Value',
            (U_VCCG.Currency + N'（' + LTRIM(RTRIM(CONVERT(VARCHAR, CAST(T_OVTG.Rate AS FLOAT)))) + N'%）') AS 'Label'
        FROM U_VCCG
        LEFT JOIN T_OVTG ON T_OVTG.Code = U_VCCG.VatGroup
        <where>
            1=1
            <if test="sc.type != null">
               AND T_OVTG.Type IN
                <foreach collection="sc.typeList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            </if>
            <if test="sc.type == null">
                AND T_OVTG.Type IS NULL
            </if>
            <if test="sc.currency != null">
                AND U_VCCG.Currency IN
                <foreach collection="sc.currencyList " item="item" open="(" separator="," close=")" index="index">'${item}'</foreach>
            </if>
            <if test="sc.currency == null">
                AND U_VCCG.Currency IS NULL
            </if>
        </where>
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.vo.CurVat.CurVatConfVO">
        SELECT
            U_VCCG.*,
            T_OVTG.Rate AS 'VatRate',
            T_OVTG.Type, (U_VCCG.Currency + '+' + U_VCCG.VatGroup + '+' + LTRIM(RTRIM(CONVERT(VARCHAR, CAST(T_OVTG.Rate AS FLOAT))))) AS 'Value',
            (U_VCCG.Currency + N'（' + LTRIM(RTRIM(CONVERT(VARCHAR, CAST(T_OVTG.Rate AS FLOAT)))) + N'%）') AS 'Label'
        FROM U_VCCG
        LEFT JOIN T_OVTG ON T_OVTG.Code = U_VCCG.VatGroup
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
</mapper>
