<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.CurVat.ExchangeRateMapper">

    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.entity.CurVat.ExchangeRateEntity" parameterType="java.lang.String">
        SELECT TOP (1) *
        FROM T_ORTT
        WHERE T_ORTT.Currency = #{currency}
        ORDER BY T_ORTT.RateDate DESC
    </select>
</mapper>
