<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianchuangjie.lianchuangjie.mapper.StockRank.StockRankMapper">
    <select id="selectList" resultType="com.lianchuangjie.lianchuangjie.vo.StockRank.StockRankVO">
        SELECT
            T.DocEntry AS StockRank, /*排名*/
            T.Modle, /*型号*/
            T.Brand, /*品牌*/
            T.Quantity, /*现有库存数量*/
            T.OpenQty, /*在途库存数量*/
            (T.InquiryDemandQty1 + T.InquiryDemandQty2) AS 'InquiryDemandQty', /*近3个月询价数量*/
            ROUND(T.TotalScore, 2) AS TotalScore, /*总分*/
            IIF(T._SuggestionQty &lt; 0, 0, T._SuggestionQty) AS SuggestionQty /*建议补货数量*/
        FROM (
            SELECT
                U_StockRank.DocEntry, /*排名*/
                U_StockRank.Modle, /*型号*/
                U_StockRank.Brand, /*品牌*/
                U_StockRank.TotalScore, /*总得分*/
                U_StockRank.InquiryDemandQty1, /*近3个月询价数量*/
                U_StockRank.InquiryDemandQty2, /*近3个月询价数量*/
                ISNULL(StockQuantity.Quantity, 0) AS Quantity, /*现有库存数量*/
                ISNULL(OpenQuantity.OpenQty, 0) AS OpenQty, /*在途库存数量*/
                CEILING(
                    /*（最近三个月贸易商询价数量-最近三个月贸易商成单数量）*0.7+（最近三个月终端客户询价数量-最近三个月终端客户成单数量）*/
                    (ISNULL(InquiryDemandQty1, 0) - ISNULL(ORDR1.SumQuantity, 0)) * 0.7 +
                    (ISNULL(InquiryDemandQty2, 0) - ISNULL(ORDR2.SumQuantity, 0)) +
                    /*近三个月成单数量*/
                    ISNULL(ORDR2.SumQuantity + ORDR1.SumQuantity, 0) -
                    /*在途库存数量*/
                    ISNULL(OpenQuantity.OpenQty, 0) -
                    /*现有库存数量*/
                    ISNULL(StockQuantity.Quantity, 0)
                ) AS '_SuggestionQty' /*建议补货数量*/
            FROM U_StockRank
            LEFT JOIN (
                /*近三个月贸易商成交数量*/
                SELECT
                    SUM(T_ORDR1.Quantity) AS SumQuantity, /*销售数量*/
                    T_ORDR1.U_Brand,
                    T_ORDR1.Dscription
                FROM T_ORDR1
                LEFT JOIN T_ORDR ON T_ORDR.DocEntry = T_ORDR1.DocEntry
                WHERE T_ORDR.U_GroupName IN (N'其它', N'一般贸易商', N'关系型贸易商')
                AND DATEDIFF(MONTH, T_ORDR.DocDate, GETDATE()) &lt;= 2
                GROUP BY
                    T_ORDR1.U_Brand,
                    T_ORDR1.Dscription
            ) ORDR1 ON ORDR1.U_Brand = U_StockRank.Brand AND ORDR1.Dscription = U_StockRank.Modle /*贸易商成交数量*/
            LEFT JOIN (
                /*近三个月终端客户成交数量*/
                SELECT
                    SUM(T_ORDR1.Quantity) AS SumQuantity, /*销售数量*/
                    T_ORDR1.U_Brand,
                    T_ORDR1.Dscription
                FROM T_ORDR1
                LEFT JOIN T_ORDR ON T_ORDR.DocEntry = T_ORDR1.DocEntry
                WHERE T_ORDR.U_GroupName IN (N'其它', N'一般贸易商', N'关系型贸易商')
                AND DATEDIFF(MONTH, T_ORDR.DocDate, GETDATE()) &lt;= 2
                GROUP BY
                    T_ORDR1.U_Brand,
                    T_ORDR1.Dscription
            ) ORDR2 ON ORDR2.U_Brand = U_StockRank.Brand AND ORDR2.Dscription = U_StockRank.Modle /*终端客户成交数量*/
            LEFT JOIN (
                SELECT
                    T_OBTN.ItemName,
                    SUM(
                        CASE
                            WHEN T.Quantity = 0 THEN 0
                            WHEN T.Quantity &lt; T_OBTN.U_LockQty THEN T.Quantity
                            ELSE T_OBTN.U_LockQty
                        END
                    ) AS Quantity
                FROM (
                    SELECT
                        MdAbsEntry,
                        SUM(Quantity) AS Quantity
                    FROM T_OBTQ
                    GROUP BY MdAbsEntry
                ) T
                INNER JOIN T_OBTN ON T.MdAbsEntry = T_OBTN.AbsEntry
                GROUP BY ItemName
            ) StockQuantity ON StockQuantity.ItemName = U_StockRank.Modle /*现有库存*/
            LEFT JOIN (
                SELECT
                    T_OPOR1.Dscription,
                    T_OPOR1.U_Brand,
                    SUM(T_OPOR1.OpenQty) AS OpenQty
                FROM T_OPOR1
                WHERE U_AreaType = 2
                AND LineStatus = 'O'
                GROUP BY T_OPOR1.Dscription, T_OPOR1.U_Brand
            ) OpenQuantity ON OpenQuantity.Dscription = U_StockRank.Modle AND OpenQuantity.U_Brand = U_StockRank.Brand /*在途库存*/
            <where>
                1=1
                <if test="sc.modle != null">
                    AND U_StockRank.Modle = #{sc.modle}
                </if>
                <if test="sc.brand != null">
                    AND U_StockRank.Brand = #{sc.brand}
                </if>
            </where>
        ) T
        <where>
            1=1
            <if test="sc.suggestionQty == 0">
                AND T._SuggestionQty &lt;= 0
            </if>
            <if test="sc.suggestionQty == 1">
                AND T._SuggestionQty > 0
            </if>
            <if test="sc.openQty == 0">
                AND T.OpenQty = 0
            </if>
            <if test="sc.openQty == 1">
                AND T.OpenQty != 0
            </if>
        </where>
        ORDER BY T.TotalScore DESC
    </select>
    <select id="selectPurchasePrice" resultType="java.math.BigDecimal">
        SELECT PPriceAFVAT
        FROM U_OIVL
        WHERE BaseName = N'采购入库'
        AND DATEDIFF(MONTH , DocDate, GETDATE()) &lt;= 2
        <if test="modle != null">
            AND ItemName = #{modle}
        </if>
    </select>
    <select id="selectPurchaseOrder" resultType="com.lianchuangjie.lianchuangjie.vo.StockRank.PurchaseOrderVO">
        SELECT
            T_OPOR.DocDate, /*下单日期*/
            T_OPOR.OwnerCode, /*采购员编号*/
            T_OUSI.UserName, /*采购员姓名*/
            T_OPOR1.ShipDate, /*交货日期*/
            T_OPOR1.Dscription, /*型号*/
            T_OPOR1.LineStatus, /*订单执行情况*/
            T_OPOR1.U_PriceAfVAT * T_OPOR.DocRate AS U_PriceAfVAT, /*单价*/
            T_OPOR1.U_Brand, /*品牌*/
            T_OPOR1.OpenQty /*在途库存*/
        FROM T_OPOR1
        LEFT JOIN T_OPOR ON T_OPOR.DocEntry = T_OPOR1.DocEntry
        LEFT JOIN T_OUSI ON T_OUSI.UserSign = T_OPOR.OwnerCode
        <where>
            T_OPOR1.U_AreaType = 2
            AND T_OPOR1.LineStatus = 'O'
            <if test="sc.modle != null">
                AND T_OPOR1.Dscription = #{sc.modle}
            </if>
            <if test="sc.brand != null">
                AND T_OPOR1.U_Brand = #{sc.brand}
            </if>
        </where>
    </select>
    <select id="selectOne" resultType="com.lianchuangjie.lianchuangjie.vo.StockRank.StockRankVO">
        SELECT TOP (1)
            U_StockRank.DocEntry, /*排名*/
            U_StockRank.Modle, /*型号*/
            U_StockRank.Brand, /*品牌*/
            U_StockRank.TotalScore, /*总得分*/
            (U_StockRank.InquiryDemandQty1 + U_StockRank.InquiryDemandQty2) AS InquiryDemandQty, /*近3个月询价数量*/
            /*01.询价频次*/
            U_StockRank.InquiryFrequencyFirst,
            U_StockRank.InquiryFrequencySecond,
            U_StockRank.InquiryFrequencyThird,
            U_StockRank.InquiryFrequencyForth,
            U_StockRank.InquiryFrequencyScore,
            U_StockRank.InquiryFrequencyRank,
            /*02.询价客户数*/
            U_StockRank.InquiryCustomersFirst,
            U_StockRank.InquiryCustomersSecond,
            U_StockRank.InquiryCustomersThird,
            U_StockRank.InquiryCustomersForth,
            U_StockRank.InquiryCustomersScore,
            U_StockRank.InquiryCustomersRank,
            /*03.成单客户数*/
            U_StockRank.OrderCustomersFirst,
            U_StockRank.OrderCustomersSecond,
            U_StockRank.OrderCustomersThird,
            U_StockRank.OrderCustomersForth,
            U_StockRank.OrderCustomersScore,
            U_StockRank.OrderCustomersRank,
            /*04.销售订单频次*/
            U_StockRank.DeliveryFrequencyFirst,
            U_StockRank.DeliveryFrequencySecond,
            U_StockRank.DeliveryFrequencyThird,
            U_StockRank.DeliveryFrequencyForth,
            U_StockRank.DeliveryFrequencyScore,
            U_StockRank.DeliveryFrequencyRank,
            /*05.销售数量*/
            U_StockRank.DeliveryQuantityFirst,
            U_StockRank.DeliveryQuantitySecond,
            U_StockRank.DeliveryQuantityThird,
            U_StockRank.DeliveryQuantityForth,
            U_StockRank.DeliveryQuantityScore,
            U_StockRank.DeliveryQuantityRank,
            /*06.利润率*/
            U_StockRank.AverageProfit,
            U_StockRank.AverageProfitScore,
            U_StockRank.AverageProfitRank,
            /*07.采购价格*/
            U_StockRank.AveragePPriceAFVAT,
            U_StockRank.AveragePPriceAFVATScore,
            U_StockRank.AveragePPriceAFVATRank,
            /*08.采购数量*/
            U_StockRank.SumPurchaseQuantity,
            U_StockRank.SumPurchaseQuantityScore,
            U_StockRank.SumPurchaseQuantityRank,
            /*09.采购频次*/
            U_StockRank.PurchaseFrequency,
            U_StockRank.PurchaseFrequencyScore,
            U_StockRank.PurchaseFrequencyRank,
            /*10.销售总额*/
            U_StockRank.SumSaleMoney,
            U_StockRank.SumSaleMoneyScore,
            U_StockRank.SumSaleMoneyRank,
            /*11.采购总额*/
            U_StockRank.SumPurchaseMoney,
            U_StockRank.SumPurchaseMoneyScore,
            U_StockRank.SumPurchaseMoneyRank
        FROM U_StockRank
        <where>
            1=1
            <if test="sc.modle != null">
                AND U_StockRank.Modle = #{sc.modle}
            </if>
            <if test="sc.brand != null">
                AND U_StockRank.Brand = #{sc.brand}
            </if>
        </where>
    </select>
</mapper>